In [1]:
import pandas as pd

zip_code_data = pd.read_csv('example_streets.csv')

In [2]:
ems_src = "https://data.cityofnewyork.us/resource/76xm-jjuj.json?$limit=243979&%24where=cad_incident_id%20%25%2095%20%3D%200"
ems_df = pd.read_json(ems_src)
print(ems_df.columns)
ems_df

Index(['cad_incident_id', 'incident_datetime', 'initial_call_type',
       'initial_severity_level_code', 'final_call_type',
       'final_severity_level_code', 'first_assignment_datetime',
       'valid_dispatch_rspns_time_indc', 'dispatch_response_seconds_qy',
       'first_activation_datetime', 'first_on_scene_datetime',
       'valid_incident_rspns_time_indc', 'incident_response_seconds_qy',
       'incident_travel_tm_seconds_qy', 'incident_close_datetime',
       'held_indicator', 'incident_disposition_code', 'borough',
       'incident_dispatch_area', 'zipcode', 'policeprecinct',
       'citycouncildistrict', 'communitydistrict', 'communityschooldistrict',
       'congressionaldistrict', 'reopen_indicator', 'special_event_indicator',
       'standby_indicator', 'transfer_indicator', 'first_to_hosp_datetime',
       'first_hosp_arrival_datetime'],
      dtype='object')

,cad_incident_id,incident_datetime,initial_call_type,initial_severity_level_code,final_call_type,final_severity_level_code,first_assignment_datetime,valid_dispatch_rspns_time_indc,dispatch_response_seconds_qy,first_activation_datetime,...,citycouncildistrict,communitydistrict,communityschooldistrict,congressionaldistrict,reopen_indicator,special_event_indicator,standby_indicator,transfer_indicator,first_to_hosp_datetime,first_hosp_arrival_datetime
0,232734990,2023-09-30T23:54:27.000,UNKNOW,4,ARREST,1,2023-09-30T23:57:56.000,Y,209,2023-09-30T23:58:09.000,...,9.0,110.0,3.0,13.0,N,N,N,N,NaN,NaN
1,232734895,2023-09-30T23:23:01.000,DRUG,4,DRUG,4,2023-09-30T23:23:15.000,Y,14,2023-09-30T23:24:46.000,...,21.0,403.0,30.0,14.0,N,N,N,N,2023-09-30T23:49:49.000,2023-09-30T23:56:00.000
2,232734800,2023-09-30T23:02:45.000,ALTMEN,3,ALTMEN,3,2023-09-30T23:03:04.000,Y,19,2023-09-30T23:04:08.000,...,13.0,210.0,11.0,14.0,N,N,N,N,2023-09-30T23:28:49.000,2023-09-30T23:39:00.000
3,232734705,2023-09-30T22:41:58.000,INJURY,5,INJURY,5,2023-09-30T22:48:13.000,Y,375,2023-09-30T22:48:42.000,...,33.0,302.0,13.0,8.0,N,N,N,N,NaN,NaN
4,232734610,2023-09-30T22:19:32.000,UNC,2,UNC,2,2023-09-30T22:19:39.000,Y,7,2023-09-30T22:20:10.000,...,11.0,212.0,11.0,16.0,N,N,N,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243974,70362225,2007-02-05T15:24:06.000,UNC,2,UNC,2,2007-02-05T15:25:06.000,Y,60,2007-02-05T15:25:24.000,...,27.0,412.0,29.0,5.0,N,N,N,N,2007-02-05T15:41:42.000,2007-02-05T15:48:44.000
243975,70362130,2007-02-05T14:59:06.000,INJURY,5,INJURY,5,2007-02-05T15:04:30.000,Y,324,2007-02-05T15:04:40.000,...,1.0,101.0,2.0,10.0,N,N,N,N,NaN,NaN
243976,70361940,2007-02-05T14:08:24.000,OTHER,6,OTHER,6,2007-02-05T14:09:01.000,Y,37,2007-02-05T14:09:06.000,...,4.0,108.0,2.0,12.0,N,N,N,N,NaN,NaN
243977,70361845,2007-02-05T13:39:17.000,RESPIR,4,DIFFBR,2,2007-02-05T13:40:16.000,Y,59,2007-02-05T13:40:21.000,...,NaN,NaN,NaN,NaN,N,N,N,N,2007-02-05T13:57:57.000,2007-02-05T14:00:43.000
243978,70361750,2007-02-05T13:05:33.000,EDP,7,EDP,7,2007-02-05T13:05:54.000,Y,21,2007-02-05T13:06:14.000,...,32.0,409.0,27.0,7.0,N,N,N,N,2007-02-05T13:23:45.000,2007-02-05T13:36:27.000

In [3]:
ems_df=ems_df[['incident_datetime','incident_travel_tm_seconds_qy','zipcode']]

In [4]:
traffic_src = "https://data.cityofnewyork.us/resource/btm5-ppia.json?$limit=42800"
traffic_df = pd.read_json(traffic_src)
traffic_df["date"] = pd.to_datetime(traffic_df["date"])
print(traffic_df.columns)

Index(['id', 'segmentid', 'roadway_name', 'from', 'to', 'direction', 'date',
       '_12_00_1_00_am', '_1_00_2_00am', '_2_00_3_00am', '_3_00_4_00am',
       '_4_00_5_00am', '_5_00_6_00am', '_6_00_7_00am', '_7_00_8_00am',
       '_8_00_9_00am', '_9_00_10_00am', '_10_00_11_00am', '_11_00_12_00pm',
       '_12_00_1_00pm', '_1_00_2_00pm', '_2_00_3_00pm', '_3_00_4_00pm',
       '_4_00_5_00pm', '_5_00_6_00pm', '_6_00_7_00pm', '_7_00_8_00pm',
       '_8_00_9_00pm', '_9_00_10_00pm', '_10_00_11_00pm', '_11_00_12_00am'],
      dtype='object')

In [5]:
traffic_df=traffic_df[['id', 'segmentid','roadway_name','from', 'to', 'direction', 'date','_9_00_10_00am']]

In [6]:
traffic_df['roadway_name']= traffic_df['roadway_name'].str.lower()

In [7]:
zip_code_data = zip_code_data.rename(columns={'streets':'roadway_name'})

In [8]:
print(zip_code_data.shape)
print(traffic_df.shape)

(895, 2)
(42756, 8)

In [9]:
import pandas as pd

# Read the traffic data and zip code data
traffic_data = traffic_df

# Assuming the column names for street names are 'roadway_name' in both dataframes

# Merge the datasets based on the 'roadway_name' column
merged_data = pd.merge(traffic_data, zip_code_data, on='roadway_name', how='left')

# Display the merged data to check the mapping
print(merged_data.shape)

(42756, 9)

In [12]:
import pandas as pd

# Assuming 'traffic_data.csv' contains your DataFrame

# Calculate the number of null values in each column
null_counts = merged_data.isnull().sum()

# Display the number of null values for each column
print("Number of null values in each column:")
print(null_counts)

Number of null values in each column:
id               0
segmentid        0
roadway_name     0
from             0
to               0
direction        0
date             0
_9_00_10_00am    0
zipcodes         0
dtype: int64

In [11]:
ems_df = ems_df.dropna()
merged_data = merged_data.dropna()

In [13]:
# Assuming 'column_name' is the column in your DataFrame that contains values with commas

# Remove commas and convert the column to integers
ems_df["zipcode"] = ems_df["zipcode"].str.replace(",","").astype(float)

In [14]:
merged_data = merged_data.rename(columns={'zipcodes':'zipcode'})

In [15]:
ems_df['zipcode'] = ems_df['zipcode'].astype(int).astype(str)
merged_data['zipcode'] = merged_data['zipcode'].astype(int).astype(str)

In [16]:
print(ems_df['zipcode'].dtype)
print(merged_data['zipcode'].dtype)

object
object

In [17]:
print(ems_df['zipcode'])
print(merged_data['zipcode'])

0         10026
1         11372
2         10461
3         11201
4         10470
          ...
243973    10012
243974    11432
243975    10004
243976    10021
243978    11418
Name: zipcode, Length: 231156, dtype: object
0        10304
1        10304
2        10304
3        10304
4        10304
         ...
42742    10451
42743    10451
42744    10451
42745    10451
42746    10451
Name: zipcode, Length: 38861, dtype: object

In [18]:
ems_df['zipcode'] = ems_df['zipcode'].str.strip()
merged_data['zipcode'] = merged_data['zipcode'].str.strip()

In [19]:
print(ems_df.shape)
print(merged_data.shape)

(231156, 3)
(38861, 9)

In [20]:
print(ems_df.head())
print(merged_data.head())

         incident_datetime  incident_travel_tm_seconds_qy zipcode
0  2023-09-30T23:54:27.000                          219.0   10026
1  2023-09-30T23:23:01.000                          902.0   11372
2  2023-09-30T23:02:45.000                          487.0   10461
3  2023-09-30T22:41:58.000                         1363.0   11201
4  2023-09-30T22:19:32.000                          579.0   10470
   id  segmentid  roadway_name         from                to direction  \
0   1      15540  beach street  UNION PLACE  VAN DUZER STREET        NB
1   2      15540  beach street  UNION PLACE  VAN DUZER STREET        NB
2   3      15540  beach street  UNION PLACE  VAN DUZER STREET        NB
3   4      15540  beach street  UNION PLACE  VAN DUZER STREET        NB
4   5      15540  beach street  UNION PLACE  VAN DUZER STREET        NB

        date  _9_00_10_00am zipcode
0 2012-01-09           52.0   10304
1 2012-01-10           45.0   10304
2 2012-01-11           71.0   10304
3 2012-01-12           66.0   10304
4 2012-01-13           64.0   10304

In [21]:
ems_df['incident_datetime'] = pd.to_datetime(ems_df['incident_datetime']).dt.date

# Convert the 'date' column to datetime format
merged_data['date'] = pd.to_datetime(merged_data['date']).dt.date

print(ems_df['incident_datetime'].dtype)
print(merged_data['date'].dtype)

# Merge dataframes based on the date columns
#merged_df = pd.merge(df1, df2, left_on=df1['incident_datetime'].dt.date, right_on=df2['date'], how='inner')

object
object

In [22]:
merged_data_final = pd.merge(ems_df, merged_data, how='left',left_on=['zipcode','incident_datetime'], right_on=['zipcode','date'])

In [23]:
merged_data_zip = pd.merge(ems_df, merged_data, how='left',left_on=['zipcode'], right_on=['zipcode'])

In [24]:
common_date = pd.merge(ems_df, merged_data, left_on=['incident_datetime'], right_on=['date'], how='inner')

In [25]:
print(common_date)

        incident_datetime  incident_travel_tm_seconds_qy zipcode_x   id  \
0              2021-05-09                          474.0     11210   31
1              2021-05-09                          474.0     11210   54
2              2021-05-09                          474.0     11210   54
3              2021-05-09                          474.0     11210   66
4              2021-05-09                          474.0     11210   66
...                   ...                            ...       ...  ...
1472594        2012-01-08                          278.0     10002  342
1472595        2012-01-08                          278.0     10002  371
1472596        2012-01-08                          278.0     10002  377
1472597        2012-01-08                          278.0     10002  388
1472598        2012-01-08                          278.0     10002  394

         segmentid    roadway_name          from               to direction  \
0            32775         4th ave      E 9th St        E 10th St        NB
1            41813      albany ave   Farragut Rd      Glenwood Rd        NB
2            41813      albany ave   Farragut Rd      Glenwood Rd        SB
3             3017       arden ave  Stafford Ave     Sinclair Ave        EB
4             3017       arden ave  Stafford Ave     Sinclair Ave        WB
...            ...             ...           ...              ...       ...
1472594      29256  washington ave     GATES AVE        FULTON ST        SB
1472595      29555   fulton avenue  CLAVER PLACE  FRANKLIN AVENUE        EB
1472596      29555   fulton avenue  CLAVER PLACE  FRANKLIN AVENUE        WB
1472597     184214           3 ave    PACIFIC ST          DEAN ST        NB
1472598     184214           3 ave    PACIFIC ST          DEAN ST        SB

               date  _9_00_10_00am zipcode_y
0        2021-05-09          187.0     11209
1        2021-05-09          181.0     11213
2        2021-05-09          173.0     11213
3        2021-05-09          312.0     10312
4        2021-05-09          317.0     10312
...             ...            ...       ...
1472594  2012-01-08           73.0     10040
1472595  2012-01-08          188.0     10456
1472596  2012-01-08          192.0     10456
1472597  2012-01-08          151.0     11420
1472598  2012-01-08           39.0     11420

[1472599 rows x 12 columns]

In [26]:
from pprint import pprint
pprint(merged_data_final)

       incident_datetime  incident_travel_tm_seconds_qy zipcode  id  \
0             2023-09-30                          219.0   10026 NaN
1             2023-09-30                          902.0   11372 NaN
2             2023-09-30                          487.0   10461 NaN
3             2023-09-30                         1363.0   11201 NaN
4             2023-09-30                          579.0   10470 NaN
...                  ...                            ...     ...  ..
238544        2007-02-05                          387.0   10012 NaN
238545        2007-02-05                          633.0   11432 NaN
238546        2007-02-05                          493.0   10004 NaN
238547        2007-02-05                          536.0   10021 NaN
238548        2007-02-05                          530.0   11418 NaN

        segmentid roadway_name from   to direction date  _9_00_10_00am
0             NaN          NaN  NaN  NaN       NaN  NaN            NaN
1             NaN          NaN  NaN  NaN       NaN  NaN            NaN
2             NaN          NaN  NaN  NaN       NaN  NaN            NaN
3             NaN          NaN  NaN  NaN       NaN  NaN            NaN
4             NaN          NaN  NaN  NaN       NaN  NaN            NaN
...           ...          ...  ...  ...       ...  ...            ...
238544        NaN          NaN  NaN  NaN       NaN  NaN            NaN
238545        NaN          NaN  NaN  NaN       NaN  NaN            NaN
238546        NaN          NaN  NaN  NaN       NaN  NaN            NaN
238547        NaN          NaN  NaN  NaN       NaN  NaN            NaN
238548        NaN          NaN  NaN  NaN       NaN  NaN            NaN

[238549 rows x 11 columns]

In [27]:
pprint(merged_data_zip)

         incident_datetime  incident_travel_tm_seconds_qy zipcode      id  \
0               2023-09-30                          219.0   10026   269.0
1               2023-09-30                          219.0   10026   275.0
2               2023-09-30                          219.0   10026   393.0
3               2023-09-30                          219.0   10026   399.0
4               2023-09-30                          219.0   10026  2798.0
...                    ...                            ...     ...     ...
65042181        2007-02-05                          530.0   11418   203.0
65042182        2007-02-05                          530.0   11418   203.0
65042183        2007-02-05                          530.0   11418   203.0
65042184        2007-02-05                          530.0   11418   203.0
65042185        2007-02-05                          530.0   11418   203.0

          segmentid        roadway_name               from  \
0          122461.0               8 ave          BUTLER ST
1          122461.0               8 ave          BUTLER ST
2          184214.0               8 ave         PACIFIC ST
3          184214.0               8 ave         PACIFIC ST
4           83650.0          114 street  ASTORIA BOULEVARD
...             ...                 ...                ...
65042181    56138.0  lefferts boulevard         103 AVENUE
65042182    56138.0  lefferts boulevard         103 AVENUE
65042183    56138.0  lefferts boulevard         103 AVENUE
65042184    56138.0  lefferts boulevard         103 AVENUE
65042185    56138.0  lefferts boulevard         103 AVENUE

                          to direction        date  _9_00_10_00am
0                 DOUGLAS ST        NB  2012-01-13          508.0
1                 DOUGLAS ST        SB  2012-01-13          245.0
2                    DEAN ST        NB  2012-01-13          532.0
3                    DEAN ST        SB  2012-01-13          145.0
4         NORTHERN BOULEVARD        SB  2012-01-30           72.0
...                      ...       ...         ...            ...
65042181          101 AVENUE        SB  2015-11-20          153.0
65042182          101 AVENUE        NB  2015-11-21          119.0
65042183          101 AVENUE        SB  2015-11-21          219.0
65042184          101 AVENUE        NB  2015-11-22          105.0
65042185          101 AVENUE        SB  2015-11-22          136.0

[65042186 rows x 11 columns]



---

In [ ]:
# Set display options to show all rows and columns
#pd.set_option('display.max_columns', None)  # Show all columns

# Print the entire DataFrame
#ems_df.to_csv( "/content/ems_df.csv")

In [ ]:
print(data.head())
import numpy as np
# Set the seed for reproducibility
np.random.seed(42)

# Split the data into 80% training and 20% testing
# Shuffle the indices
shuffled_indices = np.random.permutation(len(data))

# Calculate the split index
split_index = int(0.8 * len(data))

# Split the indices into training and testing sets
train_indices = shuffled_indices[:split_index]
test_indices = shuffled_indices[split_index:]

# Create the training and testing dataframes
train_df = data.loc[train_indices]
test_df = data.loc[test_indices]

# Verify the shape of the training and testing data
print("Training data shape:", train_df.shape)
print("Testing data shape:", test_df.shape)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# Assuming your data is stored in variables 'X_train', 'X_test', 'y_train', 'y_test'
# X_train and X_test should contain the features (time_block, date, zipcode, traffic_volume)
# y_train and y_test should contain the target variable (avg_travel_time)

# Create the Decision Tree Regressor
decision_tree = DecisionTreeRegressor(random_state=42)

# Train the model
decision_tree.fit(X_train, y_train)

# Make predictions
predictions = decision_tree.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f"Mean Squared Error: {mse}")

# If you want to visualize the decision tree (optional)
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

plt.figure(figsize=(15, 10))
plot_tree(decision_tree, filled=True, feature_names=['time_block', 'zipcode', 'traffic_volume'])
plt.show()

In [ ]:
import pandas as pd
df=data
# Assuming 'df' is your DataFrame containing the dataset
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek  # Monday=0, Sunday=6

# Drop the original 'date' column if it's not required anymore
df.drop('date', axis=1, inplace=True)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# # Assuming 'df' is your DataFrame containing the dataset
# # Create new features from the 'date' column
# df['date'] = pd.to_datetime(df['date'])
# df['year'] = df['date'].dt.year
# df['month'] = df['date'].dt.month
# df['day'] = df['date'].dt.day
# df['day_of_week'] = df['date'].dt.dayofweek  # Monday=0, Sunday=6
# df.drop('date', axis=1, inplace=True)

# # Define features and target variable
# features = ['year', 'month', 'day', 'day_of_week', 'time_block', 'zipcode', 'traffic_volume']
# target = 'avg_travel_time'
df = df.dropna(subset=['traffic_volume'])

features = ['time_block', 'zipcode',  'year', 'month', 'day', 'day_of_week']
target = 'traffic_volume'

# Splitting the data into training and testing sets
X = df[features]
y = df[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the Decision Tree Regressor
decision_tree = DecisionTreeRegressor(random_state=100)

# Train the model
decision_tree.fit(X_train, y_train)

# Make predictions
predictions = decision_tree.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f"Mean Squared Error: {mse}")

In [ ]:
import matplotlib.pyplot as plt

# Get feature importances
feature_importances = clf.feature_importances_

# Get feature names
feature_names = X_train.columns

# Create a bar plot
plt.figure(figsize=(10, 6))
plt.barh(range(len(feature_importances)), feature_importances, align='center', color='skyblue')
plt.yticks(range(len(feature_importances)), feature_names)
plt.xlabel('Feature Importance')
plt.title('Feature Importances for Decision Tree Classifier')
plt.gca().invert_yaxis()  # Invert y-axis to display the most important features at the top
plt.show()