In [1]:
import pandas as pd
import numpy as np

In [1]:
"""
    https://data.cityofnewyork.us/Public-Safety/EMS-Incident-Dispatch-Data/76xm-jjuj/explore/query/
    SELECT%0A%20%20%60cad_incident_id
    %60%2C%0A%20%20%60incident_datetime
    %60%2C%0A%20%20%60incident_travel_tm_seconds_qy
    %60%2C%0A%20%20%60zipcode
    %60%0AORDER%20BY%20%60incident_datetime
    %60%20DESC%20NULL%20FIRST/page/aggregate
"""

'\n    https://data.cityofnewyork.us/Public-Safety/EMS-Incident-Dispatch-Data/76xm-jjuj/explore/query/\n    SELECT%0A%20%20%60cad_incident_id\n    %60%2C%0A%20%20%60incident_datetime\n    %60%2C%0A%20%20%60incident_travel_tm_seconds_qy\n    %60%2C%0A%20%20%60zipcode\n    %60%0AORDER%20BY%20%60incident_datetime\n    %60%20DESC%20NULL%20FIRST/page/aggregate\n'

## Load & Parse EMS Data

In [2]:
ems_src = "https://data.cityofnewyork.us/resource/76xm-jjuj.json?$limit=243979&%24where=cad_incident_id%20%25%2095%20%3D%200"
ems_df = pd.read_json(ems_src)
print(ems_df.columns)
ems_df

Index(['cad_incident_id', 'incident_datetime', 'initial_call_type',
       'initial_severity_level_code', 'final_call_type',
       'final_severity_level_code', 'first_assignment_datetime',
       'valid_dispatch_rspns_time_indc', 'dispatch_response_seconds_qy',
       'first_activation_datetime', 'first_on_scene_datetime',
       'valid_incident_rspns_time_indc', 'incident_response_seconds_qy',
       'incident_travel_tm_seconds_qy', 'first_to_hosp_datetime',
       'first_hosp_arrival_datetime', 'incident_close_datetime',
       'held_indicator', 'incident_disposition_code', 'borough',
       'incident_dispatch_area', 'zipcode', 'policeprecinct',
       'citycouncildistrict', 'communitydistrict', 'communityschooldistrict',
       'congressionaldistrict', 'reopen_indicator', 'special_event_indicator',
       'standby_indicator', 'transfer_indicator'],
      dtype='object')

,cad_incident_id,incident_datetime,initial_call_type,initial_severity_level_code,final_call_type,final_severity_level_code,first_assignment_datetime,valid_dispatch_rspns_time_indc,dispatch_response_seconds_qy,first_activation_datetime,...,zipcode,policeprecinct,citycouncildistrict,communitydistrict,communityschooldistrict,congressionaldistrict,reopen_indicator,special_event_indicator,standby_indicator,transfer_indicator
0,223655175,2022-12-31T23:59:32.000,CARD,3,CARD,3,2023-01-01T00:03:16.000,Y,224,2023-01-01T00:03:41.000,...,10457,46.0,15.0,205.0,9.0,15.0,N,N,N,N
1,223655080,2022-12-31T23:39:30.000,SICK,6,SICK,6,2022-12-31T23:53:50.000,Y,860,2022-12-31T23:53:57.000,...,11692,100.0,31.0,414.0,27.0,5.0,N,N,N,N
2,223654985,2022-12-31T23:22:05.000,STATEP,2,STATEP,2,2022-12-31T23:24:39.000,Y,154,2022-12-31T23:24:51.000,...,10039,32.0,9.0,110.0,5.0,13.0,N,N,N,N
3,223654795,2022-12-31T22:37:50.000,EDP,7,EDP,7,NaN,N,0,NaN,...,10028,19.0,5.0,108.0,2.0,12.0,N,N,N,N
4,223654700,2022-12-31T22:16:14.000,ALTMFC,3,ALTMFC,3,2022-12-31T22:16:26.000,Y,12,2022-12-31T22:17:07.000,...,10039,32.0,9.0,110.0,5.0,13.0,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243974,60310180,2006-01-31T01:34:40.000,SICK,6,SICK,6,2006-01-31T01:35:15.000,Y,35,2006-01-31T01:35:28.000,...,11225,71.0,40.0,309.0,17.0,9.0,N,N,N,N
243975,60303625,2006-01-30T23:30:13.000,UNC,2,UNC,2,2006-01-30T23:30:50.000,Y,37,2006-01-30T23:34:10.000,...,10458,48.0,15.0,206.0,10.0,15.0,N,N,N,N
243976,60303530,2006-01-30T22:42:12.000,DRUG,4,DRUG,4,2006-01-30T22:42:57.000,Y,45,2006-01-30T22:45:02.000,...,10009,13.0,4.0,106.0,2.0,12.0,N,N,N,N
243977,60303435,2006-01-30T21:57:23.000,INHALE,5,INHALE,5,2006-01-30T21:57:40.000,Y,17,2006-01-30T21:57:47.000,...,11212,73.0,42.0,316.0,23.0,8.0,N,N,N,N
243978,60303245,2006-01-30T20:47:30.000,INJURY,5,INJURY,5,2006-01-30T20:49:13.000,Y,103,2006-01-30T20:50:10.000,...,10001,10.0,3.0,104.0,2.0,10.0,N,N,N,N

In [3]:
# adding basic filters
target_cols = ["incident_travel_tm_seconds_qy", "incident_datetime", "zipcode"]
df = ems_df[target_cols].dropna()
df = df.rename(columns={"incident_travel_tm_seconds_qy": "travel_time"})

# specifying types
df["zipcode"] = df["zipcode"].astype("category")
df["travel_time"] = pd.to_numeric(df["travel_time"])
df["incident_datetime"] = pd.to_datetime(df["incident_datetime"])

# splitting datetime
df["date"] = pd.to_datetime(df["incident_datetime"]).dt.date
df["time"] = pd.to_datetime(df["incident_datetime"]).dt.time
df["time_block"] = df["time"].apply(lambda x: x.hour)
df = df.drop(columns=["incident_datetime"])
df

        travel_time zipcode        date      time  time_block
0             575.0   10457  2022-12-31  23:59:32          23
1             316.0   11692  2022-12-31  23:39:30          23
2             521.0   10039  2022-12-31  23:22:05          23
4             668.0   10039  2022-12-31  22:16:14          22
5             242.0   10456  2022-12-31  21:50:28          21
...             ...     ...         ...       ...         ...
243974        298.0   11225  2006-01-31  01:34:40           1
243975        253.0   10458  2006-01-30  23:30:13          23
243976        422.0   10009  2006-01-30  22:42:12          22
243977         93.0   11212  2006-01-30  21:57:23          21
243978        521.0   10001  2006-01-30  20:47:30          20

[230989 rows x 5 columns]

## Load and Parse Traffic Data

In [4]:
traffic_src = "https://data.cityofnewyork.us/resource/btm5-ppia.json?$limit=42800"
traffic_df = pd.read_json(traffic_src)
traffic_df["date"] = pd.to_datetime(traffic_df["date"])
print(traffic_df.columns)
traffic_df

Index(['id', 'segmentid', 'roadway_name', 'from', 'to', 'direction', 'date',
       '_12_00_1_00_am', '_1_00_2_00am', '_2_00_3_00am', '_3_00_4_00am',
       '_4_00_5_00am', '_5_00_6_00am', '_6_00_7_00am', '_7_00_8_00am',
       '_8_00_9_00am', '_9_00_10_00am', '_10_00_11_00am', '_11_00_12_00pm',
       '_12_00_1_00pm', '_1_00_2_00pm', '_2_00_3_00pm', '_3_00_4_00pm',
       '_4_00_5_00pm', '_5_00_6_00pm', '_6_00_7_00pm', '_7_00_8_00pm',
       '_8_00_9_00pm', '_9_00_10_00pm', '_10_00_11_00pm', '_11_00_12_00am'],
      dtype='object')

,id,segmentid,roadway_name,from,to,direction,date,_12_00_1_00_am,_1_00_2_00am,_2_00_3_00am,...,_2_00_3_00pm,_3_00_4_00pm,_4_00_5_00pm,_5_00_6_00pm,_6_00_7_00pm,_7_00_8_00pm,_8_00_9_00pm,_9_00_10_00pm,_10_00_11_00pm,_11_00_12_00am
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-09,20.0,10.0,11.0,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-10,21.0,16.0,8.0,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-11,27.0,14.0,6.0,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-12,22.0,7.0,7.0,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-13,31.0,17.0,7.0,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42751,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-18,68.0,63.0,31.0,...,152.0,177.0,162.0,164.0,183.0,173.0,143.0,113.0,127.0,133.0
42752,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-19,71.0,59.0,42.0,...,166.0,162.0,187.0,182.0,180.0,190.0,162.0,155.0,234.0,166.0
42753,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-20,111.0,79.0,54.0,...,157.0,186.0,170.0,158.0,194.0,196.0,222.0,174.0,182.0,178.0
42754,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-21,129.0,95.0,63.0,...,139.0,147.0,153.0,183.0,163.0,184.0,183.0,169.0,187.0,211.0
42755,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-22,159.0,109.0,77.0,...,151.0,176.0,152.0,146.0,181.0,177.0,160.0,162.0,147.0,137.0

In [5]:
new_cols = ["time_block", "date", "zipcode", "traffic_volume"]
new_data = dict([[name, []] for name in new_cols])
for i, row in traffic_df.iterrows():
    for j in range(7,len(row)):  # 7 to 30
        new_data["date"].append(row[6])
#         location_data = [name.lower().strip() for name in row[2:5]]
        new_data["zipcode"].append(row[2].lower().strip())
        
        new_data["traffic_volume"].append(row[j])
        new_data["time_block"].append(j-7)

In [6]:
tvol_df = pd.DataFrame(new_data)
tvol_df

         time_block       date           zipcode  traffic_volume
0                 0 2012-01-09      beach street            20.0
1                 1 2012-01-09      beach street            10.0
2                 2 2012-01-09      beach street            11.0
3                 3 2012-01-09      beach street            14.0
4                 4 2012-01-09      beach street            13.0
...             ...        ...               ...             ...
1026139          19 2020-11-22  west 49th street           177.0
1026140          20 2020-11-22  west 49th street           160.0
1026141          21 2020-11-22  west 49th street           162.0
1026142          22 2020-11-22  west 49th street           147.0
1026143          23 2020-11-22  west 49th street           137.0

[1026144 rows x 4 columns]

In [28]:
# save streets for testing street to zip
example_streets = pd.DataFrame(list(tvol_df["zipcode"].unique()), columns=["streets"])
example_streets["zipcodes"] = [""]*len(example_streets)
street_loc = "data/example_streets.csv"
example_streets.to_csv(street_loc, sep='\t')  # np.savetxt(street_loc, example_streets, delimiter=",", fmt='%s')
print("streets saved for later at:", street_loc)
example_streets

streets saved for later at: data/example_streets.csv

                streets zipcodes
0          beach street
1     little clove road
2    narrows road south
3         ocean terrace
4                bay st
..                  ...      ...
892    west 53rd street
893    west 55th street
894    west 56th street
895    west 57th street
896    west 49th street

[897 rows x 2 columns]

In [23]:
# Dependency: https://github.com/ipython/ipynb
from ipynb.fs.full.streetzip import street_to_zip  # Note: needs to be finalized

tvol_df["zipcode"] = tvol_df["zipcode"].apply(lambda x: street_to_zip[x])
tvol_df

beach street => beach street
little clove road => little clove road
narrows road south => narrows road south
ocean terrace => ocean terrace
bay st => bay st
clove rd => clove rd
hylan blvd => hylan blvd
manor rd => manor rd
targee st => targee st
todt hill rd => todt hill rd
van duzer street => van duzer street
victory boulevard => victory boulevard
morgan ave => morgan ave
park avenue => park avenue
8 ave => 8 ave
kingsland avenue => kingsland avenue
lewis ave => lewis ave
humboldt street => humboldt street
kent avenue => kent avenue
ralph ave => ralph ave
rockaway ave => rockaway ave
stuyvesant avenue => stuyvesant avenue
throop avenue => throop avenue
union avenue => union avenue
malcolm x blvd => malcolm x blvd
graham avenue => graham avenue
greene avenue => greene avenue
greenpoint avenue => greenpoint avenue
kingston ave => kingston ave
3 ave => 3 ave
4 ave => 4 ave
5 ave => 5 ave
6 ave => 6 ave
7 ave => 7 ave
new york ave => new york ave
quincy st => quincy st
smith st => smith st
tompkins ave => tompkins ave
union st => union st
van brunt st => van brunt st
vanderbilt ave => vanderbilt ave
washington ave => washington ave
putnam ave => putnam ave
castleton avenue => castleton avenue
marcus garvey blvd => marcus garvey blvd
franklin av => franklin av
franklin ave => franklin ave
fulton avenue => fulton avenue
marcy avenue => marcy avenue
post avenue => post avenue
travis avenue => travis avenue
woolley avenue => woolley avenue
brielle avenue => brielle avenue
bradley avenue => bradley avenue
delafield ave => delafield ave
forest ave => forest ave
richmond avenue => richmond avenue
richmond ter => richmond ter
remsen avenue => remsen avenue
liberty avenue => liberty avenue
stanley avenue => stanley avenue
veterans avenue => veterans avenue
bay ridge avenue => bay ridge avenue
new lots avenue => new lots avenue
schenck avenue => schenck avenue
sutter avenue => sutter avenue
fulton street => fulton street
richmond road => richmond road
richmond rd => richmond rd
arthur kill road => arthur kill road
bloomingdale road => bloomingdale road
225 street => 225 street
drumgoole road east => drumgoole road east
foster road => foster road
huguenot avenue => huguenot avenue
drumgoole road west => drumgoole road west
woodrow road => woodrow road
amboy road => amboy road
amboy rd => amboy rd
snyder ave => snyder ave
annadale road => annadale road
arden avenue => arden avenue
4th ave => 4th ave
new utrecht avenue => new utrecht avenue
oriental boulevard => oriental boulevard
shore blvd => shore blvd
shore pkwy north => shore pkwy north
shore pkwy south => shore pkwy south
shore rd => shore rd
shore pkwy => shore pkwy
stillwell ave => stillwell ave
mc donald avenue => mc donald avenue
ave h => ave h
3 avenue => 3 avenue
4 avenue => 4 avenue
5 avenue => 5 avenue
6 avenue => 6 avenue
7 avenue => 7 avenue
new york avenue => new york avenue
remsen ave => remsen ave
clarkson ave => clarkson ave
winthrop st => winthrop st
31 street => 31 street
39 avenue => 39 avenue
48 street => 48 street
crescent street => crescent street
broadway => broadway
21 street => 21 street
vernon boulevard => vernon boulevard
parsons boulevard => parsons boulevard
jackson avenue => jackson avenue
hillside avenue => hillside avenue
northern boulevard => northern boulevard
roosevelt avenue => roosevelt avenue
58 street => 58 street
steinway street => steinway street
11 street => 11 street
164 street => 164 street
73 avenue => 73 avenue
fresh meadow lane => fresh meadow lane
hollis avenue => hollis avenue
bruckner boulevard => bruckner boulevard
so conduit ave => so conduit ave
castle hill avenue => castle hill avenue
east tremont avenue => east tremont avenue
westchester avenue => westchester avenue
east 174 street => east 174 street
188 street => 188 street
fteley avenue => fteley avenue
calhoun avenue => calhoun avenue
pennyfield avenue => pennyfield avenue
randall avenue => randall avenue
rosedale avenue => rosedale avenue
zerega avenue => zerega avenue
harrod avenue => harrod avenue
farmers boulevard => farmers boulevard
francis lewis boulevard => francis lewis boulevard
jamaica avenue => jamaica avenue
linden boulevard => linden boulevard
main street => main street
merrick boulevard => merrick boulevard
woodside ave => woodside ave
58 avenue => 58 avenue
springfield boulevard => springfield boulevard
union turnpike => union turnpike
utopia parkway => utopia parkway
murdock ave nue => murdock ave nue
murdock avenue => murdock avenue
115 avenue => 115 avenue
120 avenue => 120 avenue
forest avenue => forest avenue
empire avenue => empire avenue
seagirt blvd => seagirt blvd
east fordham road => east fordham road
east kingsbridge road => east kingsbridge road
pitman avenue => pitman avenue
southern boulevard => southern boulevard
dr m l king jr boulevard => dr m l king jr boulevard
west fordham road => west fordham road
laconia avenue => laconia avenue
webster avenue => webster avenue
east 167 street => east 167 street
east 170 street => east 170 street
east 188 street => east 188 street
jerome avenue => jerome avenue
ogden avenue => ogden avenue
valentine avenue => valentine avenue
washington avenue => washington avenue
150 street => 150 street
arthur avenue => arthur avenue
east 165 street => east 165 street
east 169 street => east 169 street
east 181 street => east 181 street
macombs road => macombs road
cross bay boulevard => cross bay boulevard
cedar avenue => cedar avenue
metropolitan avenue => metropolitan avenue
myrtle avenue => myrtle avenue
guy r brewer boulevard => guy r brewer boulevard
rockaway boulevard => rockaway boulevard
sutphin boulevard => sutphin boulevard
101 avenue => 101 avenue
111 avenue => 111 avenue
brinkerhoff avenue => brinkerhoff avenue
31 avenue => 31 avenue
32 avenue => 32 avenue
34 avenue => 34 avenue
69 street => 69 street
63 drive => 63 drive
65 place => 65 place
80 street => 80 street
bell boulevard => bell boulevard
caldwell avenue => caldwell avenue
commonwealth boulevard => commonwealth boulevard
cooper avenue => cooper avenue
east 134 street => east 134 street
corona avenue => corona avenue
douglaston parkway => douglaston parkway
elmhurst avenue => elmhurst avenue
flushing avenue => flushing avenue
pelham parkway => pelham parkway
bronx park east => bronx park east
atlantic avenue => atlantic avenue
eastchester road => eastchester road
laurel hill boulevard => laurel hill boulevard
williamsbridge road => williamsbridge road
allerton avenue => allerton avenue
braddock avenue => braddock avenue
108 street => 108 street
stillwell avenue => stillwell avenue
astor avenue => astor avenue
esplanade => esplanade
neill avenue => neill avenue
pelham parkway north => pelham parkway north
pelham parkway south => pelham parkway south
white plains road => white plains road
cypress avenue => cypress avenue
eliot avenue => eliot avenue
fresh pond road => fresh pond road
grand avenue => grand avenue
junction boulevard => junction boulevard
lefferts boulevard => lefferts boulevard
little neck parkway => little neck parkway
maurice avenue => maurice avenue
queens boulevard => queens boulevard
woodhaven boulevard => woodhaven boulevard
cross island pkwy sr south => cross island pkwy sr south
59 avenue => 59 avenue
23 avenue => 23 avenue
45 avenue => 45 avenue
van cortlandt avenue east => van cortlandt avenue east
47 avenue => 47 avenue
booth memorial avenue => booth memorial avenue
35 avenue => 35 avenue
82 street => 82 street
mosholu parkway => mosholu parkway
bartow avenue => bartow avenue
baychester avenue => baychester avenue
astoria boulevard => astoria boulevard
114 street => 114 street
conner street => conner street
east 138 street => east 138 street
east 149 street => east 149 street
east 163 street => east 163 street
east gun hill road => east gun hill road
melrose avenue => melrose avenue
prospect avenue => prospect avenue
west 239 street => west 239 street
riverdale avenue => riverdale avenue
ave u => ave u
bainbridge avenue => bainbridge avenue
bedford park boulevard => bedford park boulevard
brook avenue => brook avenue
courtlandt avenue => courtlandt avenue
east 222 street => east 222 street
east 241 street => east 241 street
garrison avenue => garrison avenue
johnson avenue => johnson avenue
nereid avenue => nereid avenue
river avenue => river avenue
st anns avenue => st anns avenue
van cortlandt park east => van cortlandt park east
college point boulevard => college point boulevard
bronx boulevard => bronx boulevard
bronxwood avenue => bronxwood avenue
burke avenue => burke avenue
concourse village west => concourse village west
east 144 street => east 144 street
east 161 street => east 161 street
east mosholu parkway south => east mosholu parkway south
gerard avenue => gerard avenue
st mary's street => st mary's street
tinton avenue => tinton avenue
edson avenue => edson avenue
51 avenue => 51 avenue
126 street => 126 street
seaview avenue => seaview avenue
hylan boulevard => hylan boulevard
willowbrook road => willowbrook road
huguenot ave => huguenot ave
richmond hill road => richmond hill road
morley avenue => morley avenue
little clove rd => little clove rd
86th st => 86th st
86 street => 86 street
cropsey ave => cropsey ave
bath ave => bath ave
benson ave => benson ave
kings hwy => kings hwy
bay ridge pkwy => bay ridge pkwy
8 avenue => 8 avenue
65 street => 65 street
13 avenue => 13 avenue
14 avenue => 14 avenue
60 street => 60 street
18 avenue => 18 avenue
ave p => ave p
bay pkwy => bay pkwy
51 street => 51 street
50 street => 50 street
39 street => 39 street
37 street => 37 street
ft hamilton parkway => ft hamilton parkway
columbia street => columbia street
clinton street => clinton street
hicks street => hicks street
3 street => 3 street
court street => court street
trinity pl => trinity pl
liberty street => liberty street
church street => church street
chambers street => chambers street
madison street => madison street
catherine street => catherine street
market street => market street
surf ave => surf ave
neptune ave => neptune ave
coney island ave => coney island ave
ave z => ave z
coney island avenue => coney island avenue
avenue j => avenue j
ave n => ave n
ave m => ave m
ocean ave => ocean ave
bedford ave => bedford ave
nostrand ave => nostrand ave
32nd ave => 32nd ave
caton ave => caton ave
ditmas avenue => ditmas avenue
cortelyou road => cortelyou road
church ave => church ave
ocean avenue => ocean avenue
flatbush ave => flatbush ave
farragut road => farragut road
rogers ave => rogers ave
flatbush avenue => flatbush avenue
56th rd => 56th rd
linden blvd => linden blvd
ashland place => ashland place
prospect park west => prospect park west
classon ave => classon ave
brooklyn ave => brooklyn ave
lafayette ave => lafayette ave
myrtle ave => myrtle ave
montrose ave => montrose ave
metropolitan ave => metropolitan ave
meserole street => meserole street
west broadway => west broadway
hudson street => hudson street
cortlandt alley => cortlandt alley
canal street => canal street
avenue of the americas => avenue of the americas
grand street => grand street
broome street => broome street
spring street => spring street
avenue of americas => avenue of americas
e 4th st => e 4th st
bowery => bowery
chrystie street => chrystie street
east 14 street => east 14 street
2 avenue => 2 avenue
1 avenue => 1 avenue
lexington avenue => lexington avenue
pitt street => pitt street
avenue b => avenue b
11 avenue => 11 avenue
10 avenue => 10 avenue
9 avenue => 9 avenue
west 29 street => west 29 street
madison avenue => madison avenue
west 30 street => west 30 street
west 34 street => west 34 street
columbus avenue => columbus avenue
west 39 street => west 39 street
central park west => central park west
amsterdam avenue => amsterdam avenue
avenue c => avenue c
commercial st => commercial st
ash st => ash st
driggs ave => driggs ave
greenpoint ave => greenpoint ave
york avenue => york avenue
west end avenue => west end avenue
amsterdam ave => amsterdam ave
1 ave => 1 ave
2 ave => 2 ave
manhattan avenue => manhattan avenue
west 135 street => west 135 street
avenue n => avenue n
avenue m => avenue m
avenue u => avenue u
avenue d => avenue d
clarendon road => clarendon road
albany avenue => albany avenue
albany ave => albany ave
glenwood road => glenwood road
flatlands avenue => flatlands avenue
mac dougal street => mac dougal street
howard avenue => howard avenue
hegeman avenue => hegeman avenue
vermont place => vermont place
73 place => 73 place
pitkin ave => pitkin ave
liberty ave => liberty ave
jamaica ave => jamaica ave
south conduit ave => south conduit ave
111 ave => 111 ave
brinkerhoff ave => brinkerhoff ave
kew gardens road => kew gardens road
van wyck expressway => van wyck expressway
archer ave => archer ave
lakewood ave => lakewood ave
waltham street => waltham street
101 ave => 101 ave
150th st => 150th st
central ave => central ave
cross island pkwy sr => cross island pkwy sr
cross island parkway => cross island parkway
hungry harbor rd => hungry harbor rd
maurice ave => maurice ave
39th st => 39th st
48th st => 48th st
east 135 street => east 135 street
morris avenue => morris avenue
audubon ave => audubon ave
undercliff avenue => undercliff avenue
sheridan avenue => sheridan avenue
sheridana avenue => sheridana avenue
wadsworth avenue => wadsworth avenue
dyckman street => dyckman street
henry hudson pkwy => henry hudson pkwy
longwood avenue => longwood avenue
crotona avenue => crotona avenue
park ave => park ave
paulding avenue => paulding avenue

hutchinson river pkwy => hutchinson river pkwy
boston road => boston road
maryland rd => maryland rd
jewel ave => jewel ave
union street => union street
sanford ave => sanford ave
roosevelt ave => roosevelt ave
east 177 street => east 177 street
lafayette avenue => lafayette avenue
underhill ave => underhill ave
homelawn street => homelawn street
hollis court blvd => hollis court blvd
35 ave => 35 ave
56 ave => 56 ave
26 ave => 26 ave
marathon pkwy => marathon pkwy
fingerboard road => fingerboard road
west 155 st => west 155 st
manhattan west 155 st => manhattan west 155 st
flushing ave => flushing ave
glen street => glen street
grand ave => grand ave
nostrand avenue => nostrand avenue
louis nine  boulevard => louis nine  boulevard
columbus ave => columbus ave
west gun hill road => west gun hill road
colonial road => colonial road
115 road => 115 road
vernon blvd => vernon blvd
springfield blvd => springfield blvd
francis lewis blvd => francis lewis blvd
atlantic ave => atlantic ave
woodhaven blvd => woodhaven blvd
34th ave => 34th ave
gowanus expressway => gowanus expressway
braddock ave => braddock ave
seagrit blvd => seagrit blvd
11th st => 11th st
rockaway blvd => rockaway blvd
merrick blvd => merrick blvd
oriental blvd => oriental blvd
flatlands ave => flatlands ave
edward l grant highway => edward l grant highway
park avenue south => park avenue south
130 pl => 130 pl
manhattan  broadway => manhattan  broadway
east houston street => east houston street
lenox ave => lenox ave
allen street => allen street
east 18 street => east 18 street
norfolk street => norfolk street
meeker ave => meeker ave
kings highway => kings highway
kings highway service => kings highway service
rockaway avenue => rockaway avenue
east 204 street => east 204 street
grand concourse_main => grand concourse_main
grand concourse_serv => grand concourse_serv
cross bronx expressway => cross bronx expressway
e 174 st => e 174 st
cross bx expwy ser rd => cross bx expwy ser rd
e 176 st => e 176 st
fairmont pl => fairmont pl
throgs neck expressway => throgs neck expressway
throgs neck expwy ser rd => throgs neck expwy ser rd
e 177 st => e 177 st
bronx river parkway => bronx river parkway
courtladt avenue => courtladt avenue
east 233 street => east 233 street
east mosholu parkway => east mosholu parkway
exterior street => exterior street
grand concourse => grand concourse
harlem river driveway => harlem river driveway
henry hudson parkway => henry hudson parkway
hutchinson river parkway => hutchinson river parkway
moshoulu parkway => moshoulu parkway
provost avenue => provost avenue
sedgwick avenue => sedgwick avenue
bqe => bqe
st. anns avenue => st. anns avenue
university heights bridge approach => university heights bridge approach
110 avenue => 110 avenue
31 st => 31 st
richmond terrace => richmond terrace
79 street transverse => 79 street transverse
86 street transverse => 86 street transverse
97 street transverse => 97 street transverse
st. nicholas avenue => st. nicholas avenue
bronx river avenue => bronx river avenue
donnellon square => donnellon square
dr. m l king jr. boulevard => dr. m l king jr. boulevard
morningside drive => morningside drive
mt morris park west => mt morris park west
riverside drive => riverside drive
shore road => shore road
washington bridge => washington bridge
west 167 street => west 167 street
west 178 street => west 178 street
west 179 street => west 179 street
west 180 street => west 180 street
west 181 street => west 181 street
west 116 street => west 116 street
west 145 street => west 145 street
west farms road => west farms road
21 st => 21 st
94 avenue => 94 avenue
bates road => bates road
212 street => 212 street
bay ridge parkway => bay ridge parkway
clearview expressway => clearview expressway
clearview expressway sr => clearview expressway sr
dr. m l king jr. expressway exit 11 sb => dr. m l king jr. expressway exit 11 sb
cross island parkway sr => cross island parkway sr
cropsey avenue => cropsey avenue
ft. hamilton parkway => ft. hamilton parkway
grand central parkway => grand central parkway
horace harding expressway sr => horace harding expressway sr
louis nine boulevard => louis nine boulevard
midland parkway => midland parkway
milford drive => milford drive
north boundary road => north boundary road
north conduit avenue => north conduit avenue
134 street => 134 street
rockland avenue => rockland avenue
south avenue => south avenue
south conduit avenue => south conduit avenue
st. marys street => st. marys street
tinton street => tinton street
todt hill road => todt hill road
van wyck boulevard east => van wyck boulevard east
van wyck boulevard west => van wyck boulevard west
west shore expressway => west shore expressway
winchester boulevard => winchester boulevard
1st avenue => 1st avenue
12 avenue => 12 avenue
65 street transverse => 65 street transverse
centre street => centre street
chatham square => chatham square
cherry street => cherry street
columbus circle => columbus circle
fdr drive => fdr drive
f d r drive => f d r drive
forsyth street => forsyth street
joe dimaggio highway => joe dimaggio highway
lafayette street => lafayette street
honeywell street => honeywell street
layafette street => layafette street
park row => park row
st. james place => st. james place
varick street => varick street
west 56 street => west 56 street
walker street => walker street
wanamaker place => wanamaker place
west street => west street
woodside avenue => woodside avenue
terrace drive => terrace drive
103 street => 103 street
atlantic avenue sr => atlantic avenue sr
belt parkway => belt parkway
borinquen place => borinquen place
driggs avenue => driggs avenue
cypress hills street => cypress hills street
dekalb avenue => dekalb avenue
eastern parkway => eastern parkway
empire boulevard => empire boulevard
euclid avenue => euclid avenue
gates avenue => gates avenue
jackie robinson parkway => jackie robinson parkway
lewis avenue => lewis avenue
meeker avenue => meeker avenue
pulaski bridge => pulaski bridge
queens boulevard sr => queens boulevard sr
ralph avenue => ralph avenue
rockaway parkway => rockaway parkway
rodney street => rodney street
stewart avenue => stewart avenue
utica avenue => utica avenue
yellowstone boulevard => yellowstone boulevard
dupont street => dupont street
parkside avenue => parkside avenue
prospect expressway => prospect expressway
ocean parkway => ocean parkway
shore parkway => shore parkway
emmons avenue => emmons avenue
east drive => east drive
dyre avenue => dyre avenue
goethals bridge approach => goethals bridge approach
kissena boulevard => kissena boulevard
lydig avenue => lydig avenue
malcolm x boulevard => malcolm x boulevard
putnam avenue => putnam avenue
sanford avenue => sanford avenue
tompkins avenue => tompkins avenue
center drive => center drive
marcus garvey boulevard => marcus garvey boulevard
9 street => 9 street
avenue l => avenue l
east 36 street => east 36 street
holland tunnel => holland tunnel
bruckner expressway => bruckner expressway
ed koch queensboro bridge => ed koch queensboro bridge
major deegan expressway => major deegan expressway
169 street => 169 street
avenue h => avenue h
avenue z => avenue z
long island expressway => long island expressway
mcdonald avenue => mcdonald avenue
snyder avenue => snyder avenue
smith street => smith street
van wyck expressway exit 11 sb => van wyck expressway exit 11 sb
23rd avenue => 23rd avenue
dutch kills street => dutch kills street
clarkson avenue => clarkson avenue
franklin avenue => franklin avenue
vanderbilt avenue => vanderbilt avenue
quincy street => quincy street
winthrop street => winthrop street
kingston avenue => kingston avenue
bedford avenue => bedford avenue
ft washington avenue => ft washington avenue
st nicholas avenue => st nicholas avenue
st nicholas place => st nicholas place
delafield avenue => delafield avenue
martling avenue => martling avenue
jerome avenue sr => jerome avenue sr
bay court => bay court
shore boulevard => shore boulevard
lenox road => lenox road
morgan avenue => morgan avenue
clay street => clay street
whitney avenue => whitney avenue
88 street => 88 street
57 street => 57 street
south street => south street
225 st => 225 st
east 156 street => east 156 street
east 133 street => east 133 street
manhattan bridge lower level => manhattan bridge lower level
manhattan bridge upper level => manhattan bridge upper level
fdr drive viaduct => fdr drive viaduct
nassau expressway => nassau expressway
manor avenue => manor avenue
manor road => manor road
targee street => targee street
bay street => bay street
clove road => clove road
renwick avenue => renwick avenue
narrows road north => narrows road north
beach channel drive => beach channel drive
park avenue viaduct => park avenue viaduct
147 avenue => 147 avenue
cedar lawn avenue => cedar lawn avenue
korean war vets parkway sr => korean war vets parkway sr
korean war vets parkway => korean war vets parkway
everton avenue => everton avenue
barlow avenue => barlow avenue
32 ave => 32 ave
east burnside avenue => east burnside avenue
henry hudson parkway e => henry hudson parkway e
grand concourse service road => grand concourse service road
200 street => 200 street
hewlett street => hewlett street
73 street => 73 street
bath avenue => bath avenue
brooklyn queens expressway => brooklyn queens expressway
brooklyn queens exresspway => brooklyn queens exresspway
hunts point avenue => hunts point avenue
harlem river drive => harlem river drive
ed koch queensboro bridge lower level inner roadway => ed koch queensboro bridge lower level inner roadway
ed koch queensboro bridge lower => ed koch queensboro bridge lower
ed koch queensboro bridge upper level => ed koch queensboro bridge upper level
ed koch queensboro bridge lower level outer roadway => ed koch queensboro bridge lower level outer roadway
73 place slip lane => 73 place slip lane
eckford avenue => eckford avenue
surf avenue => surf avenue
49 street => 49 street
fort hamilton parkway => fort hamilton parkway
east 119 street => east 119 street
audubon avenue => audubon avenue
2 avenue main road => 2 avenue main road
2 avenue service road => 2 avenue service road
benson avenue => benson avenue
avenue p => avenue p
bay parkway => bay parkway
141 street => 141 street
archer avenue => archer avenue
lakewood avenue => lakewood avenue
staten island expressway => staten island expressway
grand central parkway nb left roadway => grand central parkway nb left roadway
grand central parkway right roadway => grand central parkway right roadway
26 avenue => 26 avenue
5th avenue => 5th avenue
3rd avenue => 3rd avenue
columbus circle eb => columbus circle eb
columbus circle nb => columbus circle nb
st marys street => st marys street
caton avenue => caton avenue
pelham bridge => pelham bridge
pennsylvania avenue => pennsylvania avenue
church avenue => church avenue
37 avenue => 37 avenue
state street => state street
greenwich street => greenwich street
west 55 street => west 55 street
west 57 street => west 57 street
commercial street => commercial street
jj byrne memorial bridge => jj byrne memorial bridge
west 53 street => west 53 street
central park south => central park south
st james place => st james place
west 48 street => west 48 street
west 49 street => west 49 street
frederick douglass boulevard => frederick douglass boulevard
west 125 street => west 125 street
central park north => central park north
adamn c powell boulevard => adamn c powell boulevard
marathon parkway => marathon parkway
neptune avenue => neptune avenue
stillwellavenue => stillwellavenue
seagirt boulevard => seagirt boulevard
marmion avenue => marmion avenue
belmont avenue => belmont avenue
fountain avenue => fountain avenue
east 23 street => east 23 street
ocean parkway main road => ocean parkway main road
ocean parkway service road => ocean parkway service road
east 4 street => east 4 street
east burnside avenue main road => east burnside avenue main road
east burnside avenue service road => east burnside avenue service road
sheridan expressway => sheridan expressway
bushwick avenue => bushwick avenue
hollis court boulevard => hollis court boulevard
underhill avenue => underhill avenue
brooklyn queens expressway main road => brooklyn queens expressway main road
brooklyn queens expressway service road => brooklyn queens expressway service road
rogers avenue => rogers avenue
classon avenue => classon avenue
brooklyn avenue => brooklyn avenue
exterior street/135 street => exterior street/135 street
woodhaven boulevard main road => woodhaven boulevard main road
woodhaven boulevard service road => woodhaven boulevard service road
bedford park boulevard main road => bedford park boulevard main road
bedford park boulevard  service road => bedford park boulevard  service road
167 street => 167 street
west 42 street => west 42 street
204 street => 204 street
east 170  main road => east 170  main road
east 170 main road => east 170 main road
east 170 service road => east 170 service road
webster ave => webster ave
w 155 street => w 155 street
poly place => poly place
montrose avenue => montrose avenue
central avenue => central avenue
56 road => 56 road
jewel avenue => jewel avenue
grand concourse main road => grand concourse main road
east 170  service road => east 170  service road
11th street => 11th street
2 avenue service rd => 2 avenue service rd
34th avenue => 34th avenue
48st street => 48st street
59 ave => 59 ave
69 st => 69 st
bainbrige avenue => bainbrige avenue
beach st => beach st
booth memorial ave. => booth memorial ave.
murdock ave => murdock ave
college point beoulevard => college point beoulevard
cooper ave => cooper ave
corona ave => corona ave
cypress ave => cypress ave
douglaston pkwy => douglaston pkwy
elmhurst ave => elmhurst ave
green avenue => green avenue
hamilton avenue => hamilton avenue
hillside ave => hillside ave
hylan blvd south => hylan blvd south
steuben st => steuben st
hylan blvd. => hylan blvd.
junction blvd => junction blvd
northern blvd => northern blvd
ocean  avenue => ocean  avenue
richmond ave => richmond ave
sunrise highway => sunrise highway
126th st => 126th st
st nicholas ave => st nicholas ave
steinway st => steinway st
van duzer st => van duzer st
woolley aveneue => woolley aveneue
10th avenue => 10th avenue
103rd street => 103rd street
108th street => 108th street
11th avenue => 11th avenue
13th avenue => 13th avenue
14th avenue => 14th avenue
164th street => 164th street
188th street => 188th street
2nd avenue => 2nd avenue
31st avenue => 31st avenue
31st street => 31st street
34th st => 34th st
35th avenue => 35th avenue
39th avenue => 39th avenue
47th avenue => 47th avenue
48th street => 48th street
51th avenue => 51th avenue
58th st => 58th st
58th street => 58th street
60th street => 60th street
63rd drive => 63rd drive
65th street => 65th street
7th avenue => 7th avenue
8th avenue => 8th avenue
82nd street => 82nd street
9th avenue => 9th avenue
94th avenue => 94th avenue
adam c powell boulevard => adam c powell boulevard
arden ave => arden ave
6th avenue => 6th avenue
barlow ave => barlow ave
cedar ave => cedar ave
colonial rd => colonial rd
east 135th street => east 135th street
east 138th street => east 138th street
east 144th street => east 144th street
east 149th street => east 149th street
east 161st street => east 161st street
east 163rd street => east 163rd street
east 169th street => east 169th street
east 170th street => east 170th street
east 174th street => east 174th street
east 177th street => east 177th street
east 18th street => east 18th street
e 204th st => e 204th st
east 23rd street => east 23rd street
east 233rd street => east 233rd street
east 241st street => east 241st street
fort washington avenue => fort washington avenue
greenwich st => greenwich st
honeywell st => honeywell st
main st => main st
pelham bridge rd => pelham bridge rd
queens blvd => queens blvd
richmond => richmond
rosedale ave => rosedale ave
southern blvd => southern blvd
st. anns ave => st. anns ave
west 125th street => west 125th street
west 135th street => west 135th street
west 145th street => west 145th street
west 155th street => west 155th street
west 167th street => west 167th street
west 30th street => west 30th street
west 34th street => west 34th street
west 39th street => west 39th street
west 48th street => west 48th street
west 53rd street => west 53rd street
west 55th street => west 55th street
west 56th street => west 56th street
west 57th street => west 57th street
west 49th street => west 49th street

TypeError: 'function' object is not subscriptable

## Merging the Dataset

In [7]:
# travel_time	zipcode	date	time	time_block
# time_block	date	zipcode	traffic_volume
traffic_vol_ordered = []
for i, row in df.iterrows():
    merge_df = tvol_df[(tvol_df["time_block"] == row["time_block"]) &
                       (tvol_df["date"] == tvol_df["date"]) &
                       (tvol_df["zipcode"] == tvol_df["zipcode"])]
    assert len(merge_df) == 1, "actual len:"+str(len(merge_df))
    traffic_vol_ordered = merge_df["traffic_volume"].sum()

AssertionError: actual len:42756

In [ ]:
all_streets = []
for streets in tvol_df["zipcode"]:
#     for street in streets:
    if street not in all_streets:
        all_streets.append(street)

In [ ]:
street_to_zip = dict([[name, 0] for name in tvol_df["zipcode"].unique()])  # 
print(len(street_to_zip))
print(street_to_zip.keys())

### Get Street to Zip Translation:

In [103]:
src_311 = "https://data.cityofnewyork.us/resource/erm2-nwe9.json?$limit=82800"
df311 = pd.read_json(src_311)
df311

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,landmark,bridge_highway_name,bridge_highway_direction,bridge_highway_segment,closed_date,taxi_pick_up_location,due_date,road_ramp,vehicle_type,taxi_company_borough
0,59341585,2023-11-06T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11221.0,970 DEKALB AVENUE,DEKALB AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59335912,2023-11-06T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11385.0,1980 STARR STREET,STARR STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,59337873,2023-11-06T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11419.0,124-02 ATLANTIC AVENUE,ATLANTIC AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59338637,2023-11-06T02:07:29.000,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11239.0,650 SCHROEDERS AVENUE,SCHROEDERS AVENUE,...,SCHROEDERS AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59341554,2023-11-06T02:07:02.000,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11235.0,3062 BRIGHTON 7 STREET,BRIGHTON 7 STREET,...,BRIGHTON 7 STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82795,59258230,2023-10-28T14:35:41.000,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,PESTS,RESIDENTIAL BUILDING,10026.0,182 ST NICHOLAS AVENUE,ST NICHOLAS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82796,59258664,2023-10-28T14:35:00.000,DEP,Department of Environmental Protection,Sewer,Sewer Backup (Use Comments) (SA),NaN,10304.0,55 SEAVIEW AVENUE,SEAVIEW AVENUE,...,NaN,NaN,NaN,NaN,2023-10-28T15:00:00.000,NaN,NaN,NaN,NaN,NaN
82797,59251623,2023-10-28T14:34:49.000,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10469.0,3007 EASTCHESTER ROAD,EASTCHESTER ROAD,...,EASTCHESTER ROAD,NaN,NaN,NaN,2023-10-28T14:54:52.000,NaN,NaN,NaN,NaN,NaN
82798,59259668,2023-10-28T14:34:42.000,DOT,Department of Transportation,Street Condition,Defective Hardware,Street,10024.0,145 WEST 86 STREET,WEST 86 STREET,...,WEST 86 STREET,NaN,NaN,NaN,2023-11-01T13:04:54.000,NaN,NaN,NaN,NaN,NaN
82799,59253683,2023-10-28T14:34:37.000,NYPD,New York City Police Department,Illegal Parking,Paper License Plates,Street/Sidewalk,10304.0,7 FAIRWAY AVENUE,FAIRWAY AVENUE,...,FAIRWAY AVENUE,NaN,NaN,NaN,2023-10-28T18:02:49.000,NaN,NaN,NaN,NaN,NaN

In [104]:
df311 = df311[df311['incident_zip'].notna() & df311['incident_address'].notna()]
df311 = df311[["incident_zip", "incident_address"]]
df311["incident_address"] = df311["incident_address"].apply(lambda var: var.lower().strip())
df311

       incident_zip           incident_address
0           11221.0          970 dekalb avenue
1           11385.0          1980 starr street
2           11419.0     124-02 atlantic avenue
3           11239.0      650 schroeders avenue
4           11235.0  3062 brighton    7 street
...             ...                        ...
82795       10026.0     182 st nicholas avenue
82796       10304.0          55 seaview avenue
82797       10469.0      3007 eastchester road
82798       10024.0       145 west   86 street
82799       10304.0           7 fairway avenue

[79909 rows x 2 columns]

In [112]:
unknown_streets = []
for street, zp in street_to_zip.items():  # each street in ems data
    entry = df311[df311['incident_address'].str.contains(street)]  # subset of 311 data containing street name
    if len(entry) > 0:
        street_to_zip[street] = int(entry.iloc[0]["incident_zip"])
    else:
        unknown_streets.append(street)
        print(street)

little clove road
narrows road south
clove rd
hylan blvd
manor rd
todt hill rd
malcolm x blvd
marcus garvey blvd
veterans avenue
richmond rd
amboy rd
4th ave
shore blvd
shore pkwy north
shore pkwy south
shore rd
shore pkwy
ave h
so conduit ave
east 174 street
murdock ave nue
empire avenue
seagirt blvd
east 167 street
east 170 street
east 188 street
east 165 street
east 169 street
east 181 street
east 134 street
cross island pkwy sr south
east 138 street
east 149 street
east 163 street
west 239 street
ave u
east 222 street
east 241 street
east 161 street
st mary's street
morley avenue
little clove rd
86th st
kings hwy
bay ridge pkwy
ave p
bay pkwy
trinity pl
ave z
ave n
ave m
32nd ave
56th rd
linden blvd
e 4th st
east 14 street
west 29 street
west 30 street
west 34 street
west 39 street
ash st
west 135 street
150th st
cross island pkwy sr
hungry harbor rd
39th st
48th st
east 135 street
sheridana avenue
henry hudson pkwy
hutchinson river pkwy
maryland rd
east 177 street
homelawn street
hollis court blvd
marathon pkwy
west 155 st
manhattan west 155 st
louis nine  boulevard
vernon blvd
springfield blvd
francis lewis blvd
woodhaven blvd
34th ave
gowanus expressway
seagrit blvd
11th st
rockaway blvd
merrick blvd
oriental blvd
130 pl
manhattan  broadway
east 18 street
kings highway service
east 204 street
grand concourse_main
grand concourse_serv
e 174 st
cross bx expwy ser rd
e 176 st
throgs neck expwy ser rd
e 177 st
bronx river parkway
courtladt avenue
east 233 street
harlem river driveway
moshoulu parkway
provost avenue
st. anns avenue
university heights bridge approach
79 street transverse
86 street transverse
97 street transverse
st. nicholas avenue
donnellon square
dr. m l king jr. boulevard
washington bridge
west 167 street
west 178 street
west 179 street
west 180 street
west 181 street
west 116 street
west 145 street
bates road
dr. m l king jr. expressway exit 11 sb
cross island parkway sr
ft. hamilton parkway
horace harding expressway sr
midland parkway
milford drive
st. marys street
tinton street
todt hill road
van wyck boulevard east
van wyck boulevard west
west shore expressway
1st avenue
65 street transverse
chatham square
f d r drive
honeywell street
layafette street
st. james place
west 56 street
wanamaker place
atlantic avenue sr
belt parkway
jackie robinson parkway
pulaski bridge
queens boulevard sr
prospect expressway
goethals bridge approach
center drive
east 36 street
bruckner expressway
ed koch queensboro bridge
major deegan expressway
long island expressway
van wyck expressway exit 11 sb
23rd avenue
dutch kills street
martling avenue
jerome avenue sr
east 156 street
east 133 street
manhattan bridge lower level
manhattan bridge upper level
fdr drive viaduct
renwick avenue
park avenue viaduct
cedar lawn avenue
korean war vets parkway sr
korean war vets parkway
everton avenue
grand concourse service road
brooklyn queens expressway
brooklyn queens exresspway
ed koch queensboro bridge lower level inner roadway
ed koch queensboro bridge lower
ed koch queensboro bridge upper level
ed koch queensboro bridge lower level outer roadway
73 place slip lane
east 119 street
2 avenue main road
2 avenue service road
staten island expressway
grand central parkway nb left roadway
grand central parkway right roadway
5th avenue
3rd avenue
columbus circle eb
columbus circle nb
st marys street
pelham bridge
west 55 street
west 57 street
jj byrne memorial bridge
west 49 street
adamn c powell boulevard
stillwellavenue
ocean parkway main road
ocean parkway service road
east 4 street
east burnside avenue main road
east burnside avenue service road
sheridan expressway
brooklyn queens expressway main road
brooklyn queens expressway service road
exterior street/135 street
woodhaven boulevard main road
woodhaven boulevard service road
bedford park boulevard main road
bedford park boulevard  service road
east 170  main road
east 170 main road
east 170 service road
w 155 street
poly place
grand concourse main road
east 170  service road
11th street
2 avenue service rd
34th avenue
48st street
bainbrige avenue
college point beoulevard
douglaston pkwy
hylan blvd south
hylan blvd.
junction blvd
northern blvd
ocean  avenue
sunrise highway
126th st
woolley aveneue
10th avenue
103rd street
108th street
11th avenue
13th avenue
14th avenue
164th street
188th street
2nd avenue
31st avenue
31st street
34th st
35th avenue
39th avenue
47th avenue
48th street
51th avenue
58th st
58th street
60th street
63rd drive
65th street
7th avenue
8th avenue
82nd street
9th avenue
94th avenue
6th avenue
colonial rd
east 135th street
east 138th street
east 144th street
east 149th street
east 161st street
east 163rd street
east 169th street
east 170th street
east 174th street
east 177th street
east 18th street
e 204th st
east 23rd street
east 233rd street
east 241st street
honeywell st
pelham bridge rd
queens blvd
southern blvd
st. anns ave
west 125th street
west 135th street
west 145th street
west 155th street
west 167th street
west 30th street
west 34th street
west 39th street
west 48th street
west 53rd street
west 55th street
west 56th street
west 57th street
west 49th street

In [ ]:
import csv

with open(..., 'wb') as myfile:
    wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
    wr.writerow(mylist)

In [113]:
unknown_count = 0
for street, zipcode in street_to_zip.items():
    if zipcode == 0:
        unknown_count += 1
unknown = unknown_count / len(street_to_zip)
known = 1 - unknown
print("Known Percentage:", known*100)

Known Percentage: 66.66666666666667

In [88]:
stz_dir = "snd23b/snd23Bcow.txt"
stz_data = []
line_num = 0
for line in f:
    if line_num != 0:  # header
        line = line.replace("\n", '')
        temp_data = [info.strip() for info in line.split(' ') if len(info) != 0]
        print(temp_data)
        assert False
    line_num += 1

['14POLICE', 'OFFICER', 'A', 'ABRUZZO', 'PLACE', 'VS46549005600', 'M30POLICE', 'OFFICER', 'A', 'ABRUZZO', 'PLACE']

AssertionError: