In [1]:
import pandas as pd
import numpy as np

In [1]:
"""
    https://data.cityofnewyork.us/Public-Safety/EMS-Incident-Dispatch-Data/76xm-jjuj/explore/query/
    SELECT%0A%20%20%60cad_incident_id
    %60%2C%0A%20%20%60incident_datetime
    %60%2C%0A%20%20%60incident_travel_tm_seconds_qy
    %60%2C%0A%20%20%60zipcode
    %60%0AORDER%20BY%20%60incident_datetime
    %60%20DESC%20NULL%20FIRST/page/aggregate
"""

'\n    https://data.cityofnewyork.us/Public-Safety/EMS-Incident-Dispatch-Data/76xm-jjuj/explore/query/\n    SELECT%0A%20%20%60cad_incident_id\n    %60%2C%0A%20%20%60incident_datetime\n    %60%2C%0A%20%20%60incident_travel_tm_seconds_qy\n    %60%2C%0A%20%20%60zipcode\n    %60%0AORDER%20BY%20%60incident_datetime\n    %60%20DESC%20NULL%20FIRST/page/aggregate\n'

## Load & Parse EMS Data

In [2]:
ems_src = "https://data.cityofnewyork.us/resource/76xm-jjuj.json?$limit=243979&%24where=cad_incident_id%20%25%2095%20%3D%200"
ems_df = pd.read_json(ems_src)
print(ems_df.columns)
ems_df

Index(['cad_incident_id', 'incident_datetime', 'initial_call_type',
       'initial_severity_level_code', 'final_call_type',
       'final_severity_level_code', 'first_assignment_datetime',
       'valid_dispatch_rspns_time_indc', 'dispatch_response_seconds_qy',
       'first_activation_datetime', 'first_on_scene_datetime',
       'valid_incident_rspns_time_indc', 'incident_response_seconds_qy',
       'incident_travel_tm_seconds_qy', 'first_to_hosp_datetime',
       'first_hosp_arrival_datetime', 'incident_close_datetime',
       'held_indicator', 'incident_disposition_code', 'borough',
       'incident_dispatch_area', 'zipcode', 'policeprecinct',
       'citycouncildistrict', 'communitydistrict', 'communityschooldistrict',
       'congressionaldistrict', 'reopen_indicator', 'special_event_indicator',
       'standby_indicator', 'transfer_indicator'],
      dtype='object')

,cad_incident_id,incident_datetime,initial_call_type,initial_severity_level_code,final_call_type,final_severity_level_code,first_assignment_datetime,valid_dispatch_rspns_time_indc,dispatch_response_seconds_qy,first_activation_datetime,...,zipcode,policeprecinct,citycouncildistrict,communitydistrict,communityschooldistrict,congressionaldistrict,reopen_indicator,special_event_indicator,standby_indicator,transfer_indicator
0,223655175,2022-12-31T23:59:32.000,CARD,3,CARD,3,2023-01-01T00:03:16.000,Y,224,2023-01-01T00:03:41.000,...,10457,46.0,15.0,205.0,9.0,15.0,N,N,N,N
1,223655080,2022-12-31T23:39:30.000,SICK,6,SICK,6,2022-12-31T23:53:50.000,Y,860,2022-12-31T23:53:57.000,...,11692,100.0,31.0,414.0,27.0,5.0,N,N,N,N
2,223654985,2022-12-31T23:22:05.000,STATEP,2,STATEP,2,2022-12-31T23:24:39.000,Y,154,2022-12-31T23:24:51.000,...,10039,32.0,9.0,110.0,5.0,13.0,N,N,N,N
3,223654795,2022-12-31T22:37:50.000,EDP,7,EDP,7,NaN,N,0,NaN,...,10028,19.0,5.0,108.0,2.0,12.0,N,N,N,N
4,223654700,2022-12-31T22:16:14.000,ALTMFC,3,ALTMFC,3,2022-12-31T22:16:26.000,Y,12,2022-12-31T22:17:07.000,...,10039,32.0,9.0,110.0,5.0,13.0,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243974,60310180,2006-01-31T01:34:40.000,SICK,6,SICK,6,2006-01-31T01:35:15.000,Y,35,2006-01-31T01:35:28.000,...,11225,71.0,40.0,309.0,17.0,9.0,N,N,N,N
243975,60303625,2006-01-30T23:30:13.000,UNC,2,UNC,2,2006-01-30T23:30:50.000,Y,37,2006-01-30T23:34:10.000,...,10458,48.0,15.0,206.0,10.0,15.0,N,N,N,N
243976,60303530,2006-01-30T22:42:12.000,DRUG,4,DRUG,4,2006-01-30T22:42:57.000,Y,45,2006-01-30T22:45:02.000,...,10009,13.0,4.0,106.0,2.0,12.0,N,N,N,N
243977,60303435,2006-01-30T21:57:23.000,INHALE,5,INHALE,5,2006-01-30T21:57:40.000,Y,17,2006-01-30T21:57:47.000,...,11212,73.0,42.0,316.0,23.0,8.0,N,N,N,N
243978,60303245,2006-01-30T20:47:30.000,INJURY,5,INJURY,5,2006-01-30T20:49:13.000,Y,103,2006-01-30T20:50:10.000,...,10001,10.0,3.0,104.0,2.0,10.0,N,N,N,N

In [3]:
# adding basic filters
target_cols = ["incident_travel_tm_seconds_qy", "incident_datetime", "zipcode"]
df = ems_df[target_cols].dropna()
df = df.rename(columns={"incident_travel_tm_seconds_qy": "travel_time"})

# specifying types
df["zipcode"] = df["zipcode"].astype("category")
df["travel_time"] = pd.to_numeric(df["travel_time"])
df["incident_datetime"] = pd.to_datetime(df["incident_datetime"])

# splitting datetime
df["date"] = pd.to_datetime(df["incident_datetime"]).dt.date
df["time"] = pd.to_datetime(df["incident_datetime"]).dt.time
df["time_block"] = df["time"].apply(lambda x: x.hour)
df = df.drop(columns=["incident_datetime"])
df

        travel_time zipcode        date      time  time_block
0             575.0   10457  2022-12-31  23:59:32          23
1             316.0   11692  2022-12-31  23:39:30          23
2             521.0   10039  2022-12-31  23:22:05          23
4             668.0   10039  2022-12-31  22:16:14          22
5             242.0   10456  2022-12-31  21:50:28          21
...             ...     ...         ...       ...         ...
243974        298.0   11225  2006-01-31  01:34:40           1
243975        253.0   10458  2006-01-30  23:30:13          23
243976        422.0   10009  2006-01-30  22:42:12          22
243977         93.0   11212  2006-01-30  21:57:23          21
243978        521.0   10001  2006-01-30  20:47:30          20

[230989 rows x 5 columns]

## Load and Parse Traffic Data

In [4]:
traffic_src = "https://data.cityofnewyork.us/resource/btm5-ppia.json?$limit=42800"
traffic_df = pd.read_json(traffic_src)
traffic_df["date"] = pd.to_datetime(traffic_df["date"])
print(traffic_df.columns)
traffic_df

Index(['id', 'segmentid', 'roadway_name', 'from', 'to', 'direction', 'date',
       '_12_00_1_00_am', '_1_00_2_00am', '_2_00_3_00am', '_3_00_4_00am',
       '_4_00_5_00am', '_5_00_6_00am', '_6_00_7_00am', '_7_00_8_00am',
       '_8_00_9_00am', '_9_00_10_00am', '_10_00_11_00am', '_11_00_12_00pm',
       '_12_00_1_00pm', '_1_00_2_00pm', '_2_00_3_00pm', '_3_00_4_00pm',
       '_4_00_5_00pm', '_5_00_6_00pm', '_6_00_7_00pm', '_7_00_8_00pm',
       '_8_00_9_00pm', '_9_00_10_00pm', '_10_00_11_00pm', '_11_00_12_00am'],
      dtype='object')

,id,segmentid,roadway_name,from,to,direction,date,_12_00_1_00_am,_1_00_2_00am,_2_00_3_00am,...,_2_00_3_00pm,_3_00_4_00pm,_4_00_5_00pm,_5_00_6_00pm,_6_00_7_00pm,_7_00_8_00pm,_8_00_9_00pm,_9_00_10_00pm,_10_00_11_00pm,_11_00_12_00am
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-09,20.0,10.0,11.0,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-10,21.0,16.0,8.0,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-11,27.0,14.0,6.0,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-12,22.0,7.0,7.0,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,2012-01-13,31.0,17.0,7.0,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42751,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-18,68.0,63.0,31.0,...,152.0,177.0,162.0,164.0,183.0,173.0,143.0,113.0,127.0,133.0
42752,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-19,71.0,59.0,42.0,...,166.0,162.0,187.0,182.0,180.0,190.0,162.0,155.0,234.0,166.0
42753,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-20,111.0,79.0,54.0,...,157.0,186.0,170.0,158.0,194.0,196.0,222.0,174.0,182.0,178.0
42754,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-21,129.0,95.0,63.0,...,139.0,147.0,153.0,183.0,163.0,184.0,183.0,169.0,187.0,211.0
42755,373,35832,WEST 49th STREET,Rockefeller Plaza,6th Avenue,WB,2020-11-22,159.0,109.0,77.0,...,151.0,176.0,152.0,146.0,181.0,177.0,160.0,162.0,147.0,137.0

In [5]:
new_cols = ["time_block", "date", "zipcode", "traffic_volume"]
new_data = dict([[name, []] for name in new_cols])
for i, row in traffic_df.iterrows():
    for j in range(7,len(row)):  # 7 to 30
        new_data["date"].append(row[6])
#         location_data = [name.lower().strip() for name in row[2:5]]
        new_data["zipcode"].append(row[2].lower().strip())
        
        new_data["traffic_volume"].append(row[j])
        new_data["time_block"].append(j-7)

In [6]:
tvol_df = pd.DataFrame(new_data)
tvol_df

         time_block       date           zipcode  traffic_volume
0                 0 2012-01-09      beach street            20.0
1                 1 2012-01-09      beach street            10.0
2                 2 2012-01-09      beach street            11.0
3                 3 2012-01-09      beach street            14.0
4                 4 2012-01-09      beach street            13.0
...             ...        ...               ...             ...
1026139          19 2020-11-22  west 49th street           177.0
1026140          20 2020-11-22  west 49th street           160.0
1026141          21 2020-11-22  west 49th street           162.0
1026142          22 2020-11-22  west 49th street           147.0
1026143          23 2020-11-22  west 49th street           137.0

[1026144 rows x 4 columns]

In [7]:
# save streets for testing street to zip
# example_streets = pd.DataFrame(list(tvol_df["zipcode"].unique()), columns=["streets"])
# example_streets["zipcodes"] = [""]*len(example_streets)
# street_loc = "data/example_streets.csv"
# example_streets.to_csv(street_loc, index=False)  # np.savetxt(street_loc, example_streets, delimiter=",", fmt='%s')
# print("streets saved for later at:", street_loc)
# example_streets

In [12]:
# Dependency: https://github.com/ipython/ipynb
from ipynb.fs.full.streetzip import street_to_zip

zips = list(tvol_df["zipcode"].unique())
translated_zipcodes = street_to_zip(zips, True)

database done loading, translating streets in progress

Could not find little clove road
Could not find clove rd
Could not find hylan blvd
Could not find manor rd
Could not find todt hill rd
Could not find malcolm x blvd
Could not find marcus garvey blvd
Could not find veterans avenue
Could not find richmond rd
Could not find amboy rd
Could not find 4th ave
Could not find shore blvd
Could not find shore pkwy north
Could not find shore pkwy south
Could not find shore rd
Could not find shore pkwy
Could not find ave h
Could not find so conduit ave
Could not find east 174 street
Could not find murdock ave nue
Could not find seagirt blvd
Could not find east 167 street
Could not find east 170 street
Could not find east 188 street
Could not find east 165 street
Could not find east 169 street
Could not find east 181 street
Could not find east 134 street
Could not find cross island pkwy sr south
Could not find conner street
Could not find east 138 street
Could not find east 149 street
Could not find east 163 street
Could not find west 239 street
Could not find ave u
Could not find east 222 street
Could not find east 241 street
Could not find east 144 street
Could not find east 161 street
Could not find st mary's street
Could not find morley avenue
Could not find little clove rd
Could not find 86th st
Could not find kings hwy
Could not find bay ridge pkwy
Could not find ave p
Could not find bay pkwy
Could not find ave z
Could not find ave n
Could not find ave m
Could not find 32nd ave
Could not find 56th rd
Could not find linden blvd
Could not find cortlandt alley
Could not find e 4th st
Could not find east 14 street
Could not find west 29 street
Could not find west 30 street
Could not find west 34 street
Could not find west 39 street
Could not find west 135 street
Could not find 150th st
Could not find cross island pkwy sr
Could not find hungry harbor rd
Could not find 39th st
Could not find 48th st
Could not find east 135 street
Could not find sheridana avenue
Could not find henry hudson pkwy
Could not find hutchinson river pkwy
Could not find maryland rd
Could not find east 177 street
Could not find homelawn street
Could not find hollis court blvd
Could not find marathon pkwy
Could not find west 155 st
Could not find manhattan west 155 st
Could not find louis nine  boulevard
Could not find vernon blvd
Could not find springfield blvd
Could not find francis lewis blvd
Could not find woodhaven blvd
Could not find 34th ave
Could not find gowanus expressway
Could not find seagrit blvd
Could not find 11th st
Could not find rockaway blvd
Could not find merrick blvd
Could not find oriental blvd
Could not find manhattan  broadway
Could not find kings highway service
Could not find east 204 street
Could not find grand concourse_main
Could not find grand concourse_serv
Could not find e 174 st
Could not find cross bx expwy ser rd
Could not find e 176 st
Could not find fairmont pl
Could not find throgs neck expwy ser rd
Could not find e 177 st
Could not find bronx river parkway
Could not find courtladt avenue
Could not find east 233 street
Could not find harlem river driveway
Could not find moshoulu parkway
Could not find st. anns avenue
Could not find university heights bridge approach
Could not find 79 street transverse
Could not find 86 street transverse
Could not find 97 street transverse
Could not find st. nicholas avenue
Could not find donnellon square
Could not find dr. m l king jr. boulevard
Could not find washington bridge
Could not find west 167 street
Could not find west 178 street
Could not find west 179 street
Could not find west 180 street
Could not find west 181 street
Could not find west 116 street
Could not find west 145 street
Could not find bates road
Could not find dr. m l king jr. expressway exit 11 sb
Could not find cross island parkway sr
Could not find ft. hamilton parkway
Could not find horace harding expressway sr
Could not find milford drive
Could not find north boundary road
Could not find st. marys street
Could not find tinton street
Could not find van wyck boulevard east
Could not find van wyck boulevard west
Could not find west shore expressway
Could not find 1st avenue
Could not find 65 street transverse
Could not find f d r drive
Could not find honeywell street
Could not find layafette street
Could not find st. james place
Could not find west 56 street
Could not find wanamaker place
Could not find atlantic avenue sr
Could not find belt parkway
Could not find jackie robinson parkway
Could not find pulaski bridge
Could not find queens boulevard sr
Could not find prospect expressway
Could not find goethals bridge approach
Could not find east 36 street
Could not find major deegan expressway
Could not find long island expressway
Could not find van wyck expressway exit 11 sb
Could not find 23rd avenue
Could not find dutch kills street
Could not find martling avenue
Could not find jerome avenue sr
Could not find east 156 street
Could not find east 133 street
Could not find manhattan bridge lower level
Could not find manhattan bridge upper level
Could not find fdr drive viaduct
Could not find renwick avenue
Could not find narrows road north
Could not find park avenue viaduct
Could not find cedar lawn avenue
Could not find korean war vets parkway sr
Could not find korean war vets parkway
Could not find everton avenue
Could not find grand concourse service road
Could not find brooklyn queens exresspway
Could not find ed koch queensboro bridge lower level inner roadway
Could not find ed koch queensboro bridge lower
Could not find ed koch queensboro bridge upper level
Could not find ed koch queensboro bridge lower level outer roadway
Could not find 73 place slip lane
Could not find east 119 street
Could not find 2 avenue main road
Could not find 2 avenue service road
Could not find staten island expressway
Could not find grand central parkway nb left roadway
Could not find grand central parkway right roadway
Could not find 5th avenue
Could not find 3rd avenue
Could not find columbus circle eb
Could not find columbus circle nb
Could not find st marys street
Could not find pelham bridge
Could not find west 55 street
Could not find west 57 street
Could not find jj byrne memorial bridge
Could not find west 53 street
Could not find west 49 street
Could not find west 125 street
Could not find adamn c powell boulevard
Could not find stillwellavenue
Could not find east 23 street
Could not find ocean parkway main road
Could not find ocean parkway service road
Could not find east 4 street
Could not find east burnside avenue main road
Could not find east burnside avenue service road
Could not find sheridan expressway
Could not find brooklyn queens expressway main road
Could not find brooklyn queens expressway service road
Could not find exterior street/135 street
Could not find woodhaven boulevard main road
Could not find woodhaven boulevard service road
Could not find bedford park boulevard main road
Could not find bedford park boulevard  service road
Could not find west 42 street
Could not find east 170  main road
Could not find east 170 main road
Could not find east 170 service road
Could not find w 155 street
Could not find poly place
Could not find grand concourse main road
Could not find east 170  service road
Could not find 11th street
Could not find 2 avenue service rd
Could not find 34th avenue
Could not find 48st street
Could not find bainbrige avenue
Could not find college point beoulevard
Could not find douglaston pkwy
Could not find hylan blvd south
Could not find hylan blvd.
Could not find junction blvd
Could not find northern blvd
Could not find ocean  avenue
Could not find sunrise highway
Could not find 126th st
Could not find woolley aveneue
Could not find 10th avenue
Could not find 103rd street
Could not find 108th street
Could not find 11th avenue
Could not find 13th avenue
Could not find 14th avenue
Could not find 164th street
Could not find 188th street
Could not find 2nd avenue
Could not find 31st avenue
Could not find 31st street
Could not find 34th st
Could not find 35th avenue
Could not find 39th avenue
Could not find 47th avenue
Could not find 48th street
Could not find 51th avenue
Could not find 58th st
Could not find 58th street
Could not find 60th street
Could not find 63rd drive
Could not find 65th street

Could not find 7th avenue
Could not find 8th avenue
Could not find 82nd street
Could not find 9th avenue
Could not find 94th avenue
Could not find 6th avenue
Could not find colonial rd
Could not find east 135th street
Could not find east 138th street
Could not find east 144th street
Could not find east 149th street
Could not find east 161st street
Could not find east 163rd street
Could not find east 169th street
Could not find east 170th street
Could not find east 174th street
Could not find east 177th street
Could not find east 18th street
Could not find e 204th st
Could not find east 23rd street
Could not find east 233rd street
Could not find east 241st street
Could not find honeywell st
Could not find pelham bridge rd
Could not find queens blvd
Could not find southern blvd
Could not find st. anns ave
Could not find west 125th street
Could not find west 135th street
Could not find west 145th street
Could not find west 155th street
Could not find west 167th street
Could not find west 30th street
Could not find west 34th street
Could not find west 39th street
Could not find west 48th street
Could not find west 53rd street
Could not find west 55th street
Could not find west 56th street
Could not find west 57th street
Could not find west 49th street

In [13]:
zip_lookup = dict([[zips[i], translated_zipcodes[i]] for i in range(len(zips))])
zip_lookup

{'beach street': 10304.0,
 'little clove road': '',
 'narrows road south': 10305.0,
 'ocean terrace': 10301.0,
 'bay st': 10304.0,
 'clove rd': '',
 'hylan blvd': '',
 'manor rd': '',
 'targee st': 10304.0,
 'todt hill rd': '',
 'van duzer street': 10304.0,
 'victory boulevard': 10301.0,
 'morgan ave': 11211.0,
 'park avenue': 10016.0,
 '8 ave': 10026.0,
 'kingsland avenue': 11222.0,
 'lewis ave': 11221.0,
 'humboldt street': 11211.0,
 'kent avenue': 11249.0,
 'ralph ave': 11234.0,
 'rockaway ave': 11233.0,
 'stuyvesant avenue': 11221.0,
 'throop avenue': 10469.0,
 'union avenue': 11211.0,
 'malcolm x blvd': '',
 'graham avenue': 11222.0,
 'greene avenue': 11238.0,
 'greenpoint avenue': 11101.0,
 'kingston ave': 11213.0,
 '3 ave': 11420.0,
 '4 ave': 11435.0,
 '5 ave': 11364.0,
 '6 ave': 11215.0,
 '7 ave': 11377.0,
 'new york ave': 11210.0,
 'quincy st': 11238.0,
 'smith st': 11231.0,
 'tompkins ave': 11206.0,
 'union st': 11213.0,
 'van brunt st': 11231.0,
 'vanderbilt ave': 11238.0,
 'washington ave': 10040.0,
 'putnam ave': 11221.0,
 'castleton avenue': 10310.0,
 'marcus garvey blvd': '',
 'franklin av': 10456.0,
 'franklin ave': 10456.0,
 'fulton avenue': 10456.0,
 'marcy avenue': 11206.0,
 'post avenue': 10034.0,
 'travis avenue': 10314.0,
 'woolley avenue': 10314.0,
 'brielle avenue': 10314.0,
 'bradley avenue': 10314.0,
 'delafield ave': 10310.0,
 'forest ave': 11385.0,
 'richmond avenue': 10314.0,
 'richmond ter': 10301.0,
 'remsen avenue': 11212.0,
 'liberty avenue': 11419.0,
 'stanley avenue': 11207.0,
 'veterans avenue': '',
 'bay ridge avenue': 11219.0,
 'new lots avenue': 11207.0,
 'schenck avenue': 11207.0,
 'sutter avenue': 11417.0,
 'fulton street': 11233.0,
 'richmond road': 10306.0,
 'richmond rd': '',
 'arthur kill road': 10308.0,
 'bloomingdale road': 10309.0,
 '225 street': 10466.0,
 'drumgoole road east': 10309.0,
 'foster road': 10309.0,
 'huguenot avenue': 10312.0,
 'drumgoole road west': 10312.0,
 'woodrow road': 10312.0,
 'amboy road': 10308.0,
 'amboy rd': '',
 'snyder ave': 11203.0,
 'annadale road': 10312.0,
 'arden avenue': 10312.0,
 '4th ave': '',
 'new utrecht avenue': 11214.0,
 'oriental boulevard': 11235.0,
 'shore blvd': '',
 'shore pkwy north': '',
 'shore pkwy south': '',
 'shore rd': '',
 'shore pkwy': '',
 'stillwell ave': 11223.0,
 'mc donald avenue': 11218.0,
 'ave h': '',
 '3 avenue': 11420.0,
 '4 avenue': 11435.0,
 '5 avenue': 11364.0,
 '6 avenue': 11215.0,
 '7 avenue': 11377.0,
 'new york avenue': 11210.0,
 'remsen ave': 11212.0,
 'clarkson ave': 11203.0,
 'winthrop st': 11203.0,
 '31 street': 11420.0,
 '39 avenue': 11368.0,
 '48 street': 10031.0,
 'crescent street': 11105.0,
 'broadway': 10001.0,
 '21 street': 11415.0,
 'vernon boulevard': 11102.0,
 'parsons boulevard': 11366.0,
 'jackson avenue': 10456.0,
 'hillside avenue': 11435.0,
 'northern boulevard': 11354.0,
 'roosevelt avenue': 11372.0,
 '58 street': 11004.0,
 'steinway street': 11103.0,
 '11 street': 11101.0,
 '164 street': 11432.0,
 '73 avenue': 11364.0,
 'fresh meadow lane': 11365.0,
 'hollis avenue': 11412.0,
 'bruckner boulevard': 10454.0,
 'so conduit ave': '',
 'castle hill avenue': 10462.0,
 'east tremont avenue': 10460.0,
 'westchester avenue': 10459.0,
 'east 174 street': '',
 '188 street': 11423.0,
 'fteley avenue': 10472.0,
 'calhoun avenue': 10465.0,
 'pennyfield avenue': 10465.0,
 'randall avenue': 10473.0,
 'rosedale avenue': 10473.0,
 'zerega avenue': 10462.0,
 'harrod avenue': 10472.0,
 'farmers boulevard': 11412.0,
 'francis lewis boulevard': 11427.0,
 'jamaica avenue': 11435.0,
 'linden boulevard': 11226.0,
 'main street': 11201.0,
 'merrick boulevard': 11434.0,
 'woodside ave': 11377.0,
 '58 avenue': 11355.0,
 'springfield boulevard': 11429.0,
 'union turnpike': 11426.0,
 'utopia parkway': 11365.0,
 'murdock ave nue': '',
 'murdock avenue': 11412.0,
 '115 avenue': 11420.0,
 '120 avenue': 11436.0,
 'forest avenue': 11385.0,
 'empire avenue': 11691.0,
 'seagirt blvd': '',
 'east fordham road': 10458.0,
 'east kingsbridge road': 10468.0,
 'pitman avenue': 10466.0,
 'southern boulevard': 10459.0,
 'dr m l king jr boulevard': 10453.0,
 'west fordham road': 10468.0,
 'laconia avenue': 10466.0,
 'webster avenue': 10456.0,
 'east 167 street': '',
 'east 170 street': '',
 'east 188 street': '',
 'jerome avenue': 10468.0,
 'ogden avenue': 10452.0,
 'valentine avenue': 10458.0,
 'washington avenue': 10040.0,
 '150 street': 10039.0,
 'arthur avenue': 10458.0,
 'east 165 street': '',
 'east 169 street': '',
 'east 181 street': '',
 'macombs road': 10452.0,
 'cross bay boulevard': 11417.0,
 'cedar avenue': 10468.0,
 'metropolitan avenue': 10462.0,
 'myrtle avenue': 11385.0,
 'guy r brewer boulevard': 11434.0,
 'rockaway boulevard': 11420.0,
 'sutphin boulevard': 11435.0,
 '101 avenue': 11416.0,
 '111 avenue': 11420.0,
 'brinkerhoff avenue': 11435.0,
 '31 avenue': 11106.0,
 '32 avenue': 11369.0,
 '34 avenue': 11372.0,
 '69 street': 10452.0,
 '63 drive': 11374.0,
 '65 place': 11385.0,
 '80 street': 11209.0,
 'bell boulevard': 11361.0,
 'caldwell avenue': 11379.0,
 'commonwealth boulevard': 11426.0,
 'cooper avenue': 11385.0,
 'east 134 street': '',
 'corona avenue': 11368.0,
 'douglaston parkway': 11363.0,
 'elmhurst avenue': 11373.0,
 'flushing avenue': 11205.0,
 'pelham parkway': 10461.0,
 'bronx park east': 10467.0,
 'atlantic avenue': 11213.0,
 'eastchester road': 10461.0,
 'laurel hill boulevard': 11378.0,
 'williamsbridge road': 10461.0,
 'allerton avenue': 10469.0,
 'braddock avenue': 11426.0,
 '108 street': 11368.0,
 'stillwell avenue': 11223.0,
 'astor avenue': 10467.0,
 'esplanade': 10461.0,
 'neill avenue': 10462.0,
 'pelham parkway north': 10467.0,
 'pelham parkway south': 10461.0,
 'white plains road': 10462.0,
 'cypress avenue': 11385.0,
 'eliot avenue': 11379.0,
 'fresh pond road': 11378.0,
 'grand avenue': 10468.0,
 'junction boulevard': 11368.0,
 'lefferts boulevard': 11418.0,
 'little neck parkway': 11362.0,
 'maurice avenue': 11378.0,
 'queens boulevard': 11377.0,
 'woodhaven boulevard': 11374.0,
 'cross island pkwy sr south': '',
 '59 avenue': 11223.0,
 '23 avenue': 11369.0,
 '45 avenue': 11101.0,
 'van cortlandt avenue east': 10468.0,
 '47 avenue': 11377.0,
 'booth memorial avenue': 11355.0,
 '35 avenue': 11361.0,
 '82 street': 10453.0,
 'mosholu parkway': 10467.0,
 'bartow avenue': 10475.0,
 'baychester avenue': 10475.0,
 'astoria boulevard': 11103.0,
 '114 street': 10026.0,
 'conner street': '',
 'east 138 street': '',
 'east 149 street': '',
 'east 163 street': '',
 'east gun hill road': 10467.0,
 'melrose avenue': 10451.0,
 'prospect avenue': 10459.0,
 'west 239 street': '',
 'riverdale avenue': 10463.0,
 'ave u': '',
 'bainbridge avenue': 10467.0,
 'bedford park boulevard': 10458.0,
 'brook avenue': 10454.0,
 'courtlandt avenue': 10451.0,
 'east 222 street': '',
 'east 241 street': '',
 'garrison avenue': 10474.0,
 'johnson avenue': 10463.0,
 'nereid avenue': 10470.0,
 'river avenue': 10472.0,
 'st anns avenue': 10454.0,
 'van cortlandt park east': 10470.0,
 'college point boulevard': 11354.0,
 'bronx boulevard': 10466.0,
 'bronxwood avenue': 10469.0,
 'burke avenue': 10467.0,
 'concourse village west': 10451.0,
 'east 144 street': '',
 'east 161 street': '',
 'east mosholu parkway south': 10458.0,
 'gerard avenue': 10451.0,
 "st mary's street": '',
 'tinton avenue': 10455.0,
 'edson avenue': 10466.0,
 '51 avenue': 11368.0,
 '126 street': 10027.0,
 'seaview avenue': 11236.0,
 'hylan boulevard': 10305.0,
 'willowbrook road': 10314.0,
 'huguenot ave': 10312.0,
 'richmond hill road': 10314.0,
 'morley avenue': '',
 'little clove rd': '',
 '86th st': '',
 '86 street': 10028.0,
 'cropsey ave': 11214.0,
 'bath ave': 11214.0,
 'benson ave': 11214.0,
 'kings hwy': '',
 'bay ridge pkwy': '',
 '8 avenue': 11355.0,
 '65 street': 11204.0,
 '13 avenue': 11219.0,
 '14 avenue': 11230.0,
 '60 street': 10032.0,
 '18 avenue': 11357.0,
 'ave p': '',
 'bay pkwy': '',
 '51 street': 11234.0,
 '50 street': 10039.0,
 '39 street': 10470.0,
 '37 street': 11203.0,
 'ft hamilton parkway': 11219.0,
 'columbia street': 11231.0,
 'clinton street': 11231.0,
 'hicks street': 10469.0,
 '3 street': 11234.0,
 'court street': 11231.0,
 'trinity pl': 10006.0,
 'liberty street': 10006.0,
 'church street': 10007.0,
 'chambers street': 10007.0,
 'madison street': 10002.0,
 'catherine street': 10038.0,
 'market street': 10002.0,
 'surf ave': 11224.0,
 'neptune ave': 11224.0,
 'coney island ave': 11223.0,
 'ave z': '',
 'coney island avenue': 11223.0,
 'avenue j': 11230.0,
 'ave n': '',
 'ave m': '',
 'ocean ave': 11235.0,
 'bedford ave': 11211.0,
 'nostrand ave': 11225.0,
 '32nd ave': '',
 'caton ave': 11226.0,
 'ditmas avenue': 11218.0,
 'cortelyou road': 11218.0,
 'church ave': 11218.0,
 'ocean avenue': 11235.0,
 'flatbush ave': 11234.0,
 'farragut road': 11203.0,
 'rogers ave': 11225.0,
 'flatbush avenue': 11234.0,
 '56th rd': '',
 'linden blvd': '',
 'ashland place': 11217.0,
 'prospect park west': 11215.0,
 'classon ave': 11205.0,
 'brooklyn ave': 11225.0,
 'lafayette ave': 10473.0,
 'myrtle ave': 11385.0,
 'montrose ave': 11206.0,
 'metropolitan ave': 10462.0,
 'meserole street': 11206.0,
 'west broadway': 10012.0,
 'hudson street': 10014.0,
 'cortlandt alley': '',
 'canal street': 10013.0,
 'avenue of the americas': 10018.0,
 'grand street': 11249.0,
 'broome street': 10013.0,
 'spring street': 10012.0,
 'avenue of americas': 10105.0,
 'e 4th st': '',
 'bowery': 10012.0,
 'chrystie street': 10002.0,
 'east 14 street': '',
 '2 avenue': 11369.0,
 '1 avenue': 11416.0,
 'lexington avenue': 10035.0,
 'pitt street': 10002.0,
 'avenue b': 10009.0,
 '11 avenue': 11420.0,
 '10 avenue': 10019.0,
 '9 avenue': 11368.0,
 'west 29 street': '',
 'madison avenue': 10029.0,
 'west 30 street': '',
 'west 34 street': '',
 'columbus avenue': 10025.0,
 'west 39 street': '',
 'central park west': 10023.0,
 'amsterdam avenue': 10032.0,
 'avenue c': 10009.0,
 'commercial st': 11222.0,
 'ash st': 11222.0,
 'driggs ave': 11222.0,
 'greenpoint ave': 11101.0,
 'york avenue': 11210.0,
 'west end avenue': 10023.0,
 'amsterdam ave': 10032.0,
 '1 ave': 11416.0,
 '2 ave': 11369.0,
 'manhattan avenue': 10026.0,
 'west 135 street': '',
 'avenue n': 11230.0,
 'avenue m': 11230.0,
 'avenue u': 11223.0,
 'avenue d': 10009.0,
 'clarendon road': 11226.0,
 'albany avenue': 11213.0,
 'albany ave': 11213.0,
 'glenwood road': 11236.0,
 'flatlands avenue': 11236.0,
 'mac dougal street': 10012.0,
 'howard avenue': 11233.0,
 'hegeman avenue': 11207.0,
 'vermont place': 11385.0,
 '73 place': 11379.0,
 'pitkin ave': 11208.0,
 'liberty ave': 11419.0,
 'jamaica ave': 11435.0,
 'south conduit ave': 11430.0,
 '111 ave': 11420.0,
 'brinkerhoff ave': 11435.0,
 'kew gardens road': 11415.0,
 'van wyck expressway': 11435.0,
 'archer ave': 11435.0,
 'lakewood ave': 11435.0,
 'waltham street': 11435.0,
 '101 ave': 11416.0,
 '150th st': '',
 'central ave': 11221.0,
 'cross island pkwy sr': '',
 'cross island parkway': 11426.0,
 'hungry harbor rd': '',
 'maurice ave': 11378.0,
 '39th st': '',
 '48th st': '',
 'east 135 street': '',
 'morris avenue': 10453.0,
 'audubon ave': 10033.0,
 'undercliff avenue': 10453.0,
 'sheridan avenue': 10456.0,
 'sheridana avenue': '',
 'wadsworth avenue': 10040.0,
 'dyckman street': 10034.0,
 'henry hudson pkwy': '',
 'longwood avenue': 10459.0,
 'crotona avenue': 10457.0,
 'park ave': 10016.0,
 'paulding avenue': 10462.0,
 'hutchinson river pkwy': '',
 'boston road': 10460.0,
 'maryland rd': '',
 'jewel ave': 11367.0,
 'union street': 11213.0,
 'sanford ave': 11358.0,
 'roosevelt ave': 11372.0,
 'east 177 street': '',
 'lafayette avenue': 10473.0,
 'underhill ave': 11238.0,
 'homelawn street': '',
 'hollis court blvd': '',
 '35 ave': 11361.0,
 '56 ave': 11378.0,
 '26 ave': 11204.0,
 'marathon pkwy': '',
 'fingerboard road': 10304.0,
 'west 155 st': '',
 'manhattan west 155 st': '',
 'flushing ave': 11205.0,
 'glen street': 10314.0,
 'grand ave': 10468.0,
 'nostrand avenue': 11225.0,
 'louis nine  boulevard': '',
 'columbus ave': 10025.0,
 'west gun hill road': 10467.0,
 'colonial road': 11220.0,
 '115 road': 11434.0,
 'vernon blvd': '',
 'springfield blvd': '',
 'francis lewis blvd': '',
 'atlantic ave': 11213.0,
 'woodhaven blvd': '',
 '34th ave': '',
 'gowanus expressway': '',
 'braddock ave': 11426.0,
 'seagrit blvd': '',
 '11th st': '',
 'rockaway blvd': '',
 'merrick blvd': '',
 'oriental blvd': '',
 'flatlands ave': 11236.0,
 'edward l grant highway': 10452.0,
 'park avenue south': 10016.0,
 '130 pl': 11420.0,
 'manhattan  broadway': '',
 'east houston street': 10002.0,
 'lenox ave': 10037.0,
 'allen street': 10002.0,
 'east 18 street': 10003.0,
 'norfolk street': 10002.0,
 'meeker ave': 11222.0,
 'kings highway': 11234.0,
 'kings highway service': '',
 'rockaway avenue': 11233.0,
 'east 204 street': '',
 'grand concourse_main': '',
 'grand concourse_serv': '',
 'cross bronx expressway': 10465.0,
 'e 174 st': '',
 'cross bx expwy ser rd': '',
 'e 176 st': '',
 'fairmont pl': '',
 'throgs neck expressway': 10465.0,
 'throgs neck expwy ser rd': '',
 'e 177 st': '',
 'bronx river parkway': '',
 'courtladt avenue': '',
 'east 233 street': '',
 'east mosholu parkway': 10458.0,
 'exterior street': 10463.0,
 'grand concourse': 10451.0,
 'harlem river driveway': '',
 'henry hudson parkway': 10463.0,
 'hutchinson river parkway': 10461.0,
 'moshoulu parkway': '',
 'provost avenue': 10466.0,
 'sedgwick avenue': 10453.0,
 'bqe': 11103.0,
 'st. anns avenue': '',
 'university heights bridge approach': '',
 '110 avenue': 11435.0,
 '31 st': 11420.0,
 'richmond terrace': 10301.0,
 '79 street transverse': '',
 '86 street transverse': '',
 '97 street transverse': '',
 'st. nicholas avenue': '',
 'bronx river avenue': 10472.0,
 'donnellon square': '',
 'dr. m l king jr. boulevard': '',
 'morningside drive': 10025.0,
 'mt morris park west': 10027.0,
 'riverside drive': 10031.0,
 'shore road': 11209.0,
 'washington bridge': '',
 'west 167 street': '',
 'west 178 street': '',
 'west 179 street': '',
 'west 180 street': '',
 'west 181 street': '',
 'west 116 street': '',
 'west 145 street': '',
 'west farms road': 10460.0,
 '21 st': 11415.0,
 '94 avenue': 11435.0,
 'bates road': '',
 '212 street': 11427.0,
 'bay ridge parkway': 11204.0,
 'clearview expressway': 11364.0,
 'clearview expressway sr': 11361.0,
 'dr. m l king jr. expressway exit 11 sb': '',
 'cross island parkway sr': '',
 'cropsey avenue': 11214.0,
 'ft. hamilton parkway': '',
 'grand central parkway': 11435.0,
 'horace harding expressway sr': '',
 'louis nine boulevard': 10459.0,
 'midland parkway': 11432.0,
 'milford drive': '',
 'north boundary road': '',
 'north conduit avenue': 11434.0,
 '134 street': 11419.0,
 'rockland avenue': 10314.0,
 'south avenue': 10303.0,
 'south conduit avenue': 11430.0,
 'st. marys street': '',
 'tinton street': '',
 'todt hill road': 10314.0,
 'van wyck boulevard east': '',
 'van wyck boulevard west': '',
 'west shore expressway': '',
 'winchester boulevard': 11428.0,
 '1st avenue': '',
 '12 avenue': 10027.0,
 '65 street transverse': '',
 'centre street': 10013.0,
 'chatham square': 10038.0,
 'cherry street': 10002.0,
 'columbus circle': 10019.0,
 'fdr drive': 10075.0,
 'f d r drive': '',
 'forsyth street': 10002.0,
 'joe dimaggio highway': 10282.0,
 'lafayette street': 10013.0,
 'honeywell street': '',
 'layafette street': '',
 'park row': 10007.0,
 'st. james place': '',
 'varick street': 10014.0,
 'west 56 street': '',
 'walker street': 11239.0,
 'wanamaker place': '',
 'west street': 11223.0,
 'woodside avenue': 11377.0,
 'terrace drive': 10000.0,
 '103 street': 11417.0,
 'atlantic avenue sr': '',
 'belt parkway': '',
 'borinquen place': 11211.0,
 'driggs avenue': 11222.0,
 'cypress hills street': 11385.0,
 'dekalb avenue': 10467.0,
 'eastern parkway': 11216.0,
 'empire boulevard': 11213.0,
 'euclid avenue': 11208.0,
 'gates avenue': 11216.0,
 'jackie robinson parkway': '',
 'lewis avenue': 11221.0,
 'meeker avenue': 11222.0,
 'pulaski bridge': '',
 'queens boulevard sr': '',
 'ralph avenue': 11234.0,
 'rockaway parkway': 11236.0,
 'rodney street': 11211.0,
 'stewart avenue': 11237.0,
 'utica avenue': 11203.0,
 'yellowstone boulevard': 11375.0,
 'dupont street': 11222.0,
 'parkside avenue': 11226.0,
 'prospect expressway': '',
 'ocean parkway': 11235.0,
 'shore parkway': 11214.0,
 'emmons avenue': 11235.0,
 'east drive': 10000.0,
 'dyre avenue': 10466.0,
 'goethals bridge approach': '',
 'kissena boulevard': 11355.0,
 'lydig avenue': 10462.0,
 'malcolm x boulevard': 11221.0,
 'putnam avenue': 11221.0,
 'sanford avenue': 11358.0,
 'tompkins avenue': 11206.0,
 'center drive': 11357.0,
 'marcus garvey boulevard': 11221.0,
 '9 street': 11374.0,
 'avenue l': 11236.0,
 'east 36 street': '',
 'holland tunnel': 10013.0,
 'bruckner expressway': 10459.0,
 'ed koch queensboro bridge': 10017.0,
 'major deegan expressway': '',
 '169 street': 10452.0,
 'avenue h': 11230.0,
 'avenue z': 11235.0,
 'long island expressway': '',
 'mcdonald avenue': 11218.0,
 'snyder avenue': 11203.0,
 'smith street': 11231.0,
 'van wyck expressway exit 11 sb': '',
 '23rd avenue': '',
 'dutch kills street': '',
 'clarkson avenue': 11203.0,
 'franklin avenue': 10456.0,
 'vanderbilt avenue': 11238.0,
 'quincy street': 11238.0,
 'winthrop street': 11203.0,
 'kingston avenue': 11213.0,
 'bedford avenue': 11211.0,
 'ft washington avenue': 10033.0,
 'st nicholas avenue': 10026.0,
 'st nicholas place': 10032.0,
 'delafield avenue': 10310.0,
 'martling avenue': '',
 'jerome avenue sr': '',
 'bay court': 11235.0,
 'shore boulevard': 11235.0,
 'lenox road': 11226.0,
 'morgan avenue': 11211.0,
 'clay street': 11222.0,
 'whitney avenue': 11373.0,
 '88 street': 11423.0,
 '57 street': 10019.0,
 'south street': 10038.0,
 '225 st': 10466.0,
 'east 156 street': '',
 'east 133 street': '',
 'manhattan bridge lower level': '',
 'manhattan bridge upper level': '',
 'fdr drive viaduct': '',
 'nassau expressway': 11430.0,
 'manor avenue': 10472.0,
 'manor road': 10314.0,
 'targee street': 10304.0,
 'bay street': 10304.0,
 'clove road': 10304.0,
 'renwick avenue': '',
 'narrows road north': '',
 'beach channel drive': 11692.0,
 'park avenue viaduct': '',
 '147 avenue': 11413.0,
 'cedar lawn avenue': '',
 'korean war vets parkway sr': '',
 'korean war vets parkway': '',
 'everton avenue': '',
 'barlow avenue': 10308.0,
 '32 ave': 11369.0,
 'east burnside avenue': 10457.0,
 'henry hudson parkway e': 10463.0,
 'grand concourse service road': '',
 '200 street': 11423.0,
 'hewlett street': 11362.0,
 '73 street': 10460.0,
 'bath avenue': 11214.0,
 'brooklyn queens expressway': 11377.0,
 'brooklyn queens exresspway': '',
 'hunts point avenue': 10474.0,
 'harlem river drive': 10034.0,
 'ed koch queensboro bridge lower level inner roadway': '',
 'ed koch queensboro bridge lower': '',
 'ed koch queensboro bridge upper level': '',
 'ed koch queensboro bridge lower level outer roadway': '',
 '73 place slip lane': '',
 'eckford avenue': 11417.0,
 'surf avenue': 11224.0,
 '49 street': 10451.0,
 'fort hamilton parkway': 11219.0,
 'east 119 street': '',
 'audubon avenue': 10033.0,
 '2 avenue main road': '',
 '2 avenue service road': '',
 'benson avenue': 11214.0,
 'avenue p': 11204.0,
 'bay parkway': 11214.0,
 '141 street': 10030.0,
 'archer avenue': 11435.0,
 'lakewood avenue': 11435.0,
 'staten island expressway': '',
 'grand central parkway nb left roadway': '',
 'grand central parkway right roadway': '',
 '26 avenue': 11204.0,
 '5th avenue': '',
 '3rd avenue': '',
 'columbus circle eb': '',
 'columbus circle nb': '',
 'st marys street': '',
 'caton avenue': 11226.0,
 'pelham bridge': '',
 'pennsylvania avenue': 11207.0,
 'church avenue': 11218.0,
 '37 avenue': 11372.0,
 'state street': 11201.0,
 'greenwich street': 10013.0,
 'west 55 street': '',
 'west 57 street': '',
 'commercial street': 11222.0,
 'jj byrne memorial bridge': '',
 'west 53 street': '',
 'central park south': 10019.0,
 'st james place': 11238.0,

In [14]:
# finalize translation
tvol_df["zipcode"] = tvol_df["zipcode"].apply(lambda x: zip_lookup[x])
tvol_df = tvol_df[tvol_df["zipcode"] != '']  # prune zipcodes that weren't found
tvol_df

         time_block       date  zipcode  traffic_volume
0                 0 2012-01-09  10304.0            20.0
1                 1 2012-01-09  10304.0            10.0
2                 2 2012-01-09  10304.0            11.0
3                 3 2012-01-09  10304.0            14.0
4                 4 2012-01-09  10304.0            13.0
...             ...        ...      ...             ...
1025923          19 2020-10-25  10451.0           178.0
1025924          20 2020-10-25  10451.0           127.0
1025925          21 2020-10-25  10451.0           110.0
1025926          22 2020-10-25  10451.0            87.0
1025927          23 2020-10-25  10451.0            67.0

[850800 rows x 4 columns]

In [17]:
tvol_df["zipcode"] = pd.to_numeric(tvol_df["zipcode"].apply(lambda x:int(x)))
tvol_df

/var/folders/mv/k0krwyts3z5cfn3y2tltw0sc0000gn/T/ipykernel_86332/3583475985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tvol_df["zipcode"] = pd.to_numeric(tvol_df["zipcode"].apply(lambda x:int(x)))

         time_block       date  zipcode  traffic_volume
0                 0 2012-01-09    10304            20.0
1                 1 2012-01-09    10304            10.0
2                 2 2012-01-09    10304            11.0
3                 3 2012-01-09    10304            14.0
4                 4 2012-01-09    10304            13.0
...             ...        ...      ...             ...
1025923          19 2020-10-25    10451           178.0
1025924          20 2020-10-25    10451           127.0
1025925          21 2020-10-25    10451           110.0
1025926          22 2020-10-25    10451            87.0
1025927          23 2020-10-25    10451            67.0

[850800 rows x 4 columns]

In [16]:
# reminder of ems data
df

        travel_time zipcode        date      time  time_block
0             575.0   10457  2022-12-31  23:59:32          23
1             316.0   11692  2022-12-31  23:39:30          23
2             521.0   10039  2022-12-31  23:22:05          23
4             668.0   10039  2022-12-31  22:16:14          22
5             242.0   10456  2022-12-31  21:50:28          21
...             ...     ...         ...       ...         ...
243974        298.0   11225  2006-01-31  01:34:40           1
243975        253.0   10458  2006-01-30  23:30:13          23
243976        422.0   10009  2006-01-30  22:42:12          22
243977         93.0   11212  2006-01-30  21:57:23          21
243978        521.0   10001  2006-01-30  20:47:30          20

[230989 rows x 5 columns]

## Merging the Dataset

In [ ]:
# TODO: break database into chunks for partial download --> tvol_df--> chunk

In [ ]:
from tqdm import tqdm  # progress bar since this is a big database operation

merge_columns = ["time_block", "date", "zipcode", "traffic_volume", "avg_travel_time"]
merge_data = []
for i, row in tqdm(tvol_df.iterrows(), total=tvol_df.shape[0]):  # TODO: fix date-time comparison
    related_ems = df[(df["time_block"] == row["time_block"]) &
                       (df["date"] == row["date"]) &
                       (df["zipcode"] == row["zipcode"])]
    avg_travel = pd.NA
    if len(related_ems) > 0:
        avg_travel = related_ems["travel_time"].mean()
    add_data = [row["time_block"], row["date"], row["zipcode"], row["traffic_volume"], avg_travel]
    merge_data.append(add_data)
merge_data  # 4% per hour?

  0%|                                                     | 0/850800 [00:00<?, ?it/s]/Users/korahughes/opt/anaconda3/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
 95%|█████████████████████████████████  | 804194/850800 [45:37:42<1:43:58,  7.47it/s]

In [ ]:
merged_df = pd.DataFrame(merge_data, columns=merge_columns)
merged_df

In [ ]:
merge_loc = "data/merged_data.csv"
merged_df.to_csv(merge_loc, index=False)
print("streets saved for later at:", merge_loc)